<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<app-alert *ngFor="let alert of alerts" [alert]="alert"></app-alert>
<div   id="panierco" class="modal">
    <div  style="background-color: rgba(138, 138, 138, 0.664);"id='modalContent' class="modal-content">
            <div *ngIf='commande!=undefined'>
              <div *ngIf='commande.length>0'>
                    <table  class="table">
                        <tbody>
                          <tr *ngFor='let com of commande'>
                            <th scope="row"><img src="{{url}}/image/{{com.idBiere}}/{{com.nom}}"width='50px' height="50px"  ></th>
                            <td>{{com.nom}}</td>
                            <td *ngIf='com.commande>0'> 
                                <button class="btn" (click)="qttmoinsPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faMinus"></fa-icon>
                               </button><button (click)="qttplusPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                            </button></td>
                            <td *ngIf='com.commande==0'> <button class="btn" (click)="qttmoinsPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faTrash"></fa-icon>
                            </button> <button (click)="qttplusPanier(com.idBiere)" class="rounded-pill border btn-warning w-50">
                                <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                            </button></td>
                            <td>{{com.commande}}</td>
                            <td style="font-size: x-small;">x {{com.prixUnitaire}}€</td>
                            <td style="width: 70px;">{{com.total}}€</td>
                        </tr>
                    </table>
                    <div class='row' style="color: rgb(117, 89, 89); background-color: white;" >
                        <div class="col-2">{{items}} items</div> 
                        <div class="col-4">   </div> 
                        <div class="col-4"> </div> 
                        <div class="col-2">{{total}}€</div> 
                    </div>
                    <br>
                    <div class="row">
                    <div class='col-4'></div> 
                    <div class='col-4'>
                        <button  style='border-radius: 8px;'id="panierbtn" class="btn-block btn-success" routerLink="/panier">
                        Valider Panier</button>
                    </div> 
                    <div class='col-4'></div> 
                </div>
                <br>
                </div>
            </div>
            
                
              </div>
            </div>
    

  
<div id="principal" class="hide">
    <div class="p-grid bg-dark">

        <div class="p-col text-left"><a
                href="https://www.google.com/maps/place/20+Rue+du+Luxembourg,+59100+Roubaix/@50.6930546,3.1563994,17z/data=!3m1!4b1!4m5!3m4!1s0x47c328e3c2e86cff:0x47c63843ab4278ea!8m2!3d50.6930512!4d3.1585881">
                <h2  style="color: white; font-family: Nova Cut;">20 Rue du Luxembourg, 59100 Roubaix</h2>
            </a>
        </div>
        <div class="p-col text-center">
            <button style="height: 200px; width: 30px; background-color: transparent; border: none; outline: none;" routerLink="/accueil"></button>
        </div>
        <div class="p-col text-right">
            <h2 style="color: white; font-family: Nova Cut;">08.26.46.14.14 - afpa@afpa.fr</h2>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg  sticky-top " id="navbar">
    <div class="container">
        <div class="logo" routerLink="/accueil">
            <img id="img"  src="assets/logo1.jpg" height="0" width="0">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <fa-icon  class="icon" [icon]="faHam" style="color: white;"></fa-icon>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a id='li' class="nav-link" routerLink="/cours">Cours</a>
                </li>
                <li class="nav-item">
                    <a id='li1' class="nav-link" routerLink="/table">Table</a>
                </li>
                <li class="nav-item">
                    <a id='li2' class="nav-link" routerLink="/boutique">Boutique</a>
                </li>
                <li *ngIf="isAdmin&&isConnected" class="nav-item">
                    <a id='li3' class="nav-link" routerLink="/gestion">Gestion Admin</a>
                </li>
                <li *ngIf="!isConnected" class="nav-item">
                    <a id='li4' class="nav-link cursorPointer" routerLink="/login">Connection</a>
                </li>
                <li *ngIf="!isConnected" class="nav-item">
                    <a id='li5' class="nav-link cursorPointer" routerLink="/signup">Inscription</a>
                </li>
                <li *ngIf="isConnected" class="nav-item">
                    <span   class="fa-layers fa-3x">
                        <fa-icon  class="icon fa cursorPointer" routerLink="/panier"[icon]="faShoppingCart"  style="color: white;"></fa-icon>
                        <span *ngIf='total1==-1' class="fa-layers-counter" style="background:rgba(255, 0, 0, 0.61)">{{total}}€</span>
                        <span *ngIf='total1!=-1' class="fa-layers-counter" style="background:rgba(255, 0, 0, 0.61)">{{total1}}€</span>
                      </span>
                </li>
                <li *ngIf="isConnected" class="dropdown nav-item">
                    <a id="drop" class="nav-link cursorPointer dropdown-toggle" data-toggle="dropdown">Compte <span
                            class="caret"></span></a>
                    <ul  class="dropdown-menu">
                        <li ><a  routerLink="/mon-compte">Mon compte</a></li>
                        <li ><a  routerLink="/" (click)="logout()">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>