
#id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
  }
  
  #h2{
  font-family: Nova Cut;
  }
  
  #title{
    font-family: Nova Cut;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(255, 196, 0) 0px 0px 20px, rgb(255, 196, 0) 0px 0px 30px, rgb(255, 196, 0) 0px 0px 40px, rgb(255, 196, 0) 0px 0px 50px, rgb(255, 196, 0) 0px 0px 75px, 2px 2px 2px rgba(206,161,25,0);
  }
  @media (min-width: 1291px) {
  #biereImg{
  width: 200px;
  height: 170px;
  }
  }
  
  @media (max-width: 1290px) {
  #biereImg{
    width: 100px;
    height: 100px;
  }
  
  
  }
  
  @media (max-width: 969px) {
  #h2{
    font-size: 1.5vw;
  }
  }
  
  #myModal {
  overflow-x: hidden!important;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 69%;
  top: 10%;
  width: 30%; /* Full width */
  height: 40%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent
  }
  .modal-content{
  background-color: rgba(128, 128, 128, 0.739);
  border-radius: 8px 8px 8px 8px!important; 
  }
  
  #myModal1 {
  
  left: 12%;
  width: 80%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  
  }
  
  .topButton1:hover{
  background-color: rgb(31, 31, 31) !important;
  
  }
  .topButton:hover{
  transition: 0.6s;
  color: rgb(255, 196, 0) !important;
  
  }
  .topButton1{
    border-radius: 200px 200px 200px 200px;
  }
  
  #img{
    transition: 0.4s;
    
  }
  
  #top{
  
    background-color: black; 
    color: white; 
     position: sticky; 
    top: 0;
    z-index:10;
    transition: 0.4s;
  }
  
  
  #option{
    border: solid 1px rgba(199, 199, 199, 0.602);
    padding-left: 15px; 
    background-color: rgb(0, 0, 0);
    border-radius: 8px 8px 8px 8px; 
    color: rgb(255, 255, 255);
  
  }
  
  .card:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  }
  
  .btn-block{
    outline: none;
    border: none;
    
  }
  
  #qte:hover{
    transition: 0.6s;
   color:rgb(255, 196, 0)!important;
  }
  #prix:hover{
    transition: 0.6s;
    
    color:rgb(255, 196, 0)!important;
  }
  #create:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  }
  #iCreate:hover{
    outline: none;
    border: none;
    color: rgb(29, 175, 3)!important;;
  }
  #iClose:hover{
  outline: none;
  border: none;
  color: rgb(175, 3, 3)!important;;
  }
  
  /* #activate:hover{
    transition: 1.5s!important;
    outline: none;
    border: none;
    background-color: rgb(153, 0, 0)!important;
  }
  #delete:hover{
    transition: 1.5s!important;
    outline: none;
    border: none;
    background-color: rgb(61, 153, 0)!important;
  } */
  #activate{
    border-radius: 0px 0px 8px 8px;
    outline: none;
    border: none;
   
  }
  #delete{
    border-radius: 0px 0px 8px 8px;
    outline: none;
    border: none;
  }
  
  #panel{
   
    background-color: white;
    border-radius: 0px 8px 0px 0px;
  }
  
  
  input[type=text]:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
   
  }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.85px 0;
    border: none;
    background-color: transparent;
  }
  input[type=range]:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
   
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13.3px;
    cursor: pointer;
    box-shadow: 2.7px 2.7px 6.6px #000000, 0px 0px 2.7px #0d0d0d;
    background: #ffffff;
    border-radius: 25px;
    border: 0px solid #ad7147;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 5px 5px 10.6px rgba(255, 196, 0, 0.63), 0px 0px 5px rgb(255, 196, 0);
    border: 2.5px solid #ffffff;
    height: 31px;
    width: 31px;
    border-radius: 49px;
    background: rgb(255, 196, 0);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.85px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(255, 196, 0);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 13.3px;
    cursor: pointer;
    box-shadow: 2.7px 2.7px 6.6px #000000, 0px 0px 2.7px #0d0d0d;
    background: #4a71ca;
    border-radius: 25px;
    border: 0px solid #ad7147;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 5px 5px 10.6px rgb(255, 196, 0), 0px 0px 5px rgb(255, 196, 0);
    border: 2.5px solid #ffffff;
    height: 31px;
    width: 31px;
    border-radius: 49px;
    background: #000015;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 13.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #4a71ca;
    border: 0px solid #ad7147;
    border-radius: 50px;
    box-shadow: 2.7px 2.7px 6.6px #000000, 0px 0px 2.7px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #4a71ca;
    border: 0px solid #ad7147;
    border-radius: 50px;
    box-shadow: 2.7px 2.7px 6.6px #000000, 0px 0px 2.7px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 5px 5px 10.6px #003500, 0px 0px 5px #004f00;
    border: 2.5px solid #ffffff;
    height: 31px;
    width: 31px;
    border-radius: 49px;
    background: #000015;
    cursor: pointer;
    height: 13.3px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #4a71ca;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #4a71ca;
  }
  
  .page:hover{
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
    background-color: green!important;
    transition: 0.3s;
  }

  #validerRoleB:hover{
    transition: 0.4s;
    color: rgb(255, 196, 0)!important;
  }

  #supprimerRoleB:hover{
    transition: 0.4s;
    color: rgb(187, 0, 0)!important;
  }

  input[type=text]:focus {
    background-color: rgb(255,196,0);
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
   
  }