<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="id02" class="container-fluid animate">
    <div  id="top" class="sticky text-center" >
        <div class="col-3 align-self-center">
            <div  id="myModal" class="modal">

                <div class="modal-content">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/bieres"> <fa-icon  class="fa icon topButton" [icon]="faBeer" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/tables"> <fa-icon  class="fa icon topButton" [icon]="faTable" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/cours"> <fa-icon  class="fa icon topButton" [icon]="faCourse" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/users"> <fa-icon  class="fa icon topButton" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/business"> <fa-icon  class="fa icon topButton" [icon]="faBusiness" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion"> <fa-icon  class="fa icon topButton" [icon]="faTools" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3"></div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/boutique"> <fa-icon  class="fa icon topButton" [icon]="faHome" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3"> </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                </div>
                </div>
            </div>
              
              </div>
            
            </div>
        <div  class="row">
            <div class="col-3">
            </div>

            <div  class="col-6">
                <img id="img" src="assets/logo1.jpg" height="280" width="350">
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-9"></div>
                    <div  class="col-3 text-left">
                        <button style="background-color: transparent;" class='btn-block topButton1' (click)='damier()'> <fa-icon class="fa icon topButton" [icon]="faDamier" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-3 align-self-center">
                <div class="col-3 align-self-center">
                    <button id="create" style="background-color: transparent;border-radius: 8px;" class='btn-block' routerLink="/gestion"> <fa-icon id="return" class="fa icon topButton" [icon]="faDoor" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button>
        </div>
                        
            </div>
            <div class="col-6 align-self-center">
              <h2 id="title" *ngIf="noActive">Utilisateurs desactivés </h2>
              <h2 id="title" *ngIf="!noActive&&!active">Tous les utilisateurs</h2>
              <h2 id="title" *ngIf="active" >Utilisateurs Actifs</h2>
          </div>
                    
        </div>
       
    </div>
    <br>
    <br>

    <div class=" text-center" >
      <div  class="row">
          <div class="col-10"></div>
          <div class="col-2">
              <button style="background-color: transparent;border-radius: 8px;" class='btn-block' (click)='create()'> <fa-icon id="iCreate" class="fa icon topButton" [icon]="faPlusCircle" style="color: black; font-size: 4vw;"></fa-icon></button>
          </div>
      </div>
  </div>
  <div  id="myModal1" class="modal">

    <div  id='modalContent' class="modal-content">
      <button style="background-color: transparent;border-radius: 8px;" class='btn-block' (click)='create()'> <fa-icon id="iClose" class="fa icon topButton" [icon]="faClose" style="color: rgb(255, 196, 0);; font-size: 4vw;"></fa-icon></button>
        <app-utilisateur-create (parent)="emit($event)" ></app-utilisateur-create>
</div>
  
  </div>

  <div  *ngIf='utilisateurs.length>0' class="row">
    <div class="col-8"></div>
    <div class="col-4 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Trier Par
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="sort('Nom')"><p id="h2">Nom</p></a>
              <a class="dropdown-item" (click)="sort('Capacite')"><p id="h2">Username</p></a>
              <a class="dropdown-item" (click)="sort('Reservation')"><p id="h2">Reservation</p></a>
            </div>
          </div>

    </div>
</div>
<br>

<div class="row" >
  <div id="panel" class="col-3"style="box-shadow: 6px -1px 12px -10px rgba(0,0,0,0.75);" >
      <div></div>
      <br>
      <div style=" padding-left: 15px;">
      <p style="font-weight: bold; font-family: Luxe;">FILTRES</p>
  </div>
  <br>
  <br>
  
  <div id="option">
      <div class="row">
          <div class="col-2">
              <button style="background-color: transparent;" class='btn-block'> <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 1.5vw;"></fa-icon></button>
          </div>
          <div id="search" class="col-9" >
          <input style="text-align: center;  border: none; background-color:transparent; color: white;" type="text" class="form-control" id="prixMin" placeholder="Username ex: Belouse, Toto" (keyup)="findbyname()" [(ngModel)]="recherche">
      </div>
      <div class="col-1"></div>
      </div>
  </div>
  <br>
  <br>

  <div id="option">
    <div class="row">
        <div class="col-8 align-self-center " >
            <p id="h2" style="font-weight: bold;">Statut</p>
        </div>
        <br>
        <div class="col-4"> 
    </div>
    </div>
    <div class="row">
        <div class="col-8 align-self-center "style="padding-top: 10px;" >
            <p id="h2">Utilisateurs Actifs</p>
        </div>
        <div class="col-4">
            <div id="actOn"style="display: none;">
                <button style="background-color: transparent;" class='btn-block' (click)="activeB()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="ActOff" >
            <button style="background-color: transparent;" class='btn-block' (click)="activeB()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-8 align-self-center"style="padding-top: 10px;" >
            <p id="h2">Utilisateurs Desactivés</p>
        </div>
        <div class="col-4">
            <div id="noActOn"style="display: none;">
                <button style="background-color: transparent;" class='btn-block' (click)="nonActive()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="noActOff">
            <button style="background-color: transparent;" class='btn-block' (click)="nonActive()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
    </div>
</div>
<br>
<br>
  
  
  
  <div id="option">
      <div class="row">
          <div class="col-8 align-self-center " >
              <p id="h2" style="font-weight: bold;">Role</p>
          </div>
          <br>
          <div class="col-4"> 
      </div>
      </div>
      <div class="row">
          <div class="col-8 align-self-center "style="padding-top: 10px;" >
              <p id="h2">Admin</p>
          </div>
          <div class="col-4">
              <div id="DispoOn"style="display: none;">
                  <button style="background-color: transparent;" class='btn-block' (click)="admin()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
              </div>
              <div id="DispoOff" >
              <button style="background-color: transparent;" class='btn-block' (click)="admin()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
          </div>
      </div>
      </div>
      <div class="row">
          <div class="col-8 align-self-center"style="padding-top: 10px;" >
              <p id="h2">User</p>
          </div>
          <div class="col-4">
              <div id="noDispoOn"style="display: none;">
                  <button style="background-color: transparent;" class='btn-block' (click)="nonAdmin()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
              </div>
              <div id="noDispoOff">
              <button style="background-color: transparent;" class='btn-block' (click)="nonAdmin()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
          </div>
      </div>
      </div>
  </div>
  <br>
  <br>

  
      <div id="option">
          <div class="row">
              <div class="col-8 align-self-center " >
                  <p id="h2" style="font-weight: bold;">Creer un Role</p>
              </div>
              <br>
              <div class="col-4"> 
          </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
              <div class="col-6 align-self-center" >
                  <input style="text-align: center;" type="text" id="inputRole" class="form-control" placeholder="nouveau role" (keyup)="creerRole($event)" [(ngModel)]="newRole">
              </div>
              <div class="col-3 "></div>
          </div>
          <br>
          <div class="row">
            <div class="col-4"></div>
              <div class="col-4">
                <button style="background-color: transparent;" class='btn-block' (click)="validerRole()"> <fa-icon class="fa icon" id="validerRoleB" [icon]="faCheck" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
              </div>
              <div class="col-4"></div>
          </div>
          </div>
        
      <br>
      <br>

      <div id="option">
        <div class="row">
            <div class="col-12 align-self-center " >
                <p id="h2" style="font-weight: bold;">Liste des Roles</p>
            </div>
            <br>
           
        </div>
        <div class="row"  *ngFor='let role of roles'>
          <div class="col-1"></div>
          <div  class="col-10 align-self-center" >
               <div class="row" >
                <div *ngIf="role.id!=0" class="col-6 " style="padding-top: 25px;">
                    <p id="h2">{{role.nom}}</p>
                </div>
                <div *ngIf="role.id!=0" class="col-6 align-self-center">
                    <button style="background-color: transparent;" class='btn-block' (click)="supprimerRole(role.id)"> <fa-icon class="fa icon" id="supprimerRoleB" [icon]="faTimes" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
              </div>
                </div>
            </div>
            
            <div class="col-1 ">

            </div>
        </div>
        <div class="row" style="height: 7px;"></div>

       
        </div>
  
  
  
  
  </div>
  <div class="col"></div>
  <div class="col-7">
      <div class="row">
          <div *ngFor="let user of utilisateurs" class="col-4">
                  <div class="card" style=" background-color: white; border-radius: 8px;">
              <div class="col text-center text-dark">
                  <h5 id="h2" style="font-weight: bold;">{{user.nom}}</h5>
              </div>
              <button style="background-color: white;" routerLink="detail/" [queryParams]="{idUser:user.id}" class='btn-block'>
                <fa-icon *ngIf='user.role.id==2 && user.actif' class="fa icon" [icon]="faAdmin" style="color: rgb(255, 196, 0); font-size: 8vw;"></fa-icon>
                <fa-icon *ngIf='user.role.id==2 && !user.actif' class="fa icon" [icon]="faAdmin" style="color: rgba(0, 0, 0, 0.582); font-size: 8vw;"></fa-icon>
                <fa-icon *ngIf='user.role.id!=2 && user.actif' class="fa icon" [icon]="faClient" style="color: rgb(255, 196, 0); font-size: 8vw;"></fa-icon>
                <fa-icon *ngIf='user.role.id!=2 && !user.actif' class="fa icon" [icon]="faClient" style="color: rgba(0, 0, 0, 0.582); font-size: 8vw;"></fa-icon>
          </button>
          <br>
          
              <div class="col-12" style="padding-left: 0; padding-right: 0;">
                  <button id="btn{{user.id}}"  style="background-color: rgb(0, 0, 0); " (click)="roleF(user.id)" class='btn-block'>
                  <h5 id="qte" style="color: white;" >{{user.role.nom}}</h5> </button>
                  <div id="inputQte{{user.id}}" class="dropdown-menu">
                    <a *ngFor='let role of roles' class="dropdown-item" (click)="inputRoleF(role.id)"><p id="h2">{{role.nom}}</p></a>
                </div>
                  <!-- <input style="text-align: center;" type="number" class="form-control"  placeholder="capacité" [(ngModel)]="inputQte" style="display: none;"> -->
              </div>
              <br>
              <!-- <div class="col-12" style="padding-left: 0; padding-right: 0;">
                  <button id="btnPrix{{user.id}}"  style="background-color: rgb(0, 0, 0);" (click)="prix(user.id)" class='btn-block'>
                  <h5 id="prix"  style="color: white;">Nb Resa {{user.nbResa}}</h5> </button>
                  <input style="text-align: center;" type="number" class="form-control" id="inputPrix{{user.id}}" placeholder="reservation" [(ngModel)]="inputPrix" style="display: none;">
              </div> 
             <div style="height: 10px;"></div> -->
              <div *ngIf="user.actif" >
              <button id="delete" style="background-color: rgb(0, 0, 0);" class='btn-block' (click)="delete(user.id)"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 4vw;"></fa-icon></button>
          </div>
          <div *ngIf="!user.actif" >
              <button id="activate" style="background-color: rgba(0, 0, 0, 0.582);" class='btn-block' (click)="activate(user.id)"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
          </div>
          </div>
            <br>
            <br>
          </div>
          
  
  </div>
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
          <li *ngIf='page>0' class="page-item disabled">
              <button style="background-color: white;" class="btn page" (click)="pagination('precedent')">Précédent</button>
          </li>
          <li class="page-item"> <div *ngIf='utilisateurs.length>2' class="btn" style="background-color: rgb(0, 0, 0); color: white;">Page {{page+1}}</div></li>
          <li class="page-item disabled">
              <button *ngIf='utilisateurs.length>=1 &&utilisateurs2.length>0' style="background-color: white;"class="btn page" (click)="pagination('suivant')">Suivant</button>
          </li>
      </ul>
  </nav>
  </div>
  <div class="col-1"></div>
  </div>

</div>