
#fond{

  padding-right: 0px; 
  padding-left: 0px;
    background-color: rgba(153, 152, 152, 0.589);
}
#list{
    /* margin-left: 4%;
    margin-top: 1%; */
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
    /* margin-bottom: 8px;
    padding: 24px; */
    border-radius: 4px;
}
#modal{
  background-color: rgb(255, 255, 255);
  box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
}
#modal1{
  background-color: rgb(255, 255, 255);
  box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
}
#modal2{
  background-color: rgb(255, 255, 255);
  box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
}



#panierbtn{
    background-color: rgb(255, 198, 41);
    border:none;
    height: 50%;
    border-radius: 33px;
    outline: none!important;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
   
  }
  #btn{
    background-color: rgb(255, 198, 41)!important;
    border:none;

    outline: none!important;
    margin-bottom: 10%;
    margin-left: 15%;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  }
  #btn1{
    
    border:none;

    outline: none!important;
    margin-bottom: 10%;
    margin-left: 15%;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  }
 
  .table th {
   
   border-top: 0px !important; 
}
.table td {
   
  border-top: 0px !important; 
}
h1{
  font-family: Piedra;
}

h4{
  font-family: Piedra;
}
h5{
  font-family: Piedra;
}

  #ticket{
    /* margin-left: 7%;
    margin-right: 2%;
    margin-top: 1%; */
   
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
    /* margin-bottom: 8px;
    padding: 24px; */
    border-radius: 4px;
}
 #hr{
    border: 1.5px solid rgba(0, 0, 0, 0.39);
 }

 #td{
    padding-top: 20px;
 }

 .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(255, 196, 0);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 