<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<div id='fond'> 
  <app-topnavbar [total1]='total' id="top"></app-topnavbar>  
<br>
<div class='row'>
  <div class="col-1"></div>

  <div id="modal2" style="display: none;" class="col-sm-8">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-md-auto text-right">
       <h1>Il semble que votre commande est vide</h1>
        <br>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  
  <div class="row">
    <div class="col"></div>
        <div class="col text-center">
          <button  (click)="annulation()" class="btn btn-warning rounded-pill w-50">
            <fa-icon  class="icon" [icon]="faBackward"></fa-icon>
        </button>
</div>
<div class="col"></div>
 
</div>
<br>
<div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
<div class="col-md-auto text-right">
  <h5>Veuillez vérifier le contenu de votre panier</h5>
</div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
</div>

<div id="modal3" style="display: none;" class="col-sm-8">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    
    <div class="col-md-auto text-left">
      <h1 style="font-family: Piedra;">validation en cours</h1>
      <br>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

<div class="row">
  <div class="col-4"></div>
    <div class="col-4 text-right">
      <div class="loader"></div>
</div>
<div class="col-4"></div>
</div>
</div>



  <div id="modal1" style="display: none;" class="col-sm-8">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-md-auto text-right">
        <h1>Confirmation d'achat</h1>
        <br>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  
  <div class="row">
    <div class="col"></div>
      <div class="col text-center">
        <button id="btn1" (click)="retourBoutique()" class="btn btn-success rounded-pill w-50">
          <fa-icon  class="icon" [icon]="faCheck"></fa-icon>
      </button>
</div>
<div class="col text-left">
</div>
</div>
<br>
<div class="row">
  <div class="col"></div>
  <div class="col"></div>
<div class="col-md-auto text-left">
  <h5>Vous pouvez désormais consulter votre achat dans mon compte rublique historique d'achat</h5>
</div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
</div>


  <div id="modal" style="display: none;" class="col-sm-8">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-md-auto text-left">
        <h1>Confirmation de validation du panier</h1>
        <br>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  
  <div class="row">
    
      <div class="col text-center">
  <button  id="btn1" (click)="confirmation()" class="btn btn-success rounded-pill w-50">
    <fa-icon  class="icon" [icon]="faCheck"></fa-icon>
</button>
</div>
<div class="col text-left">
<button id="btn1"  (click)="annulation()" class="btn btn-danger rounded-pill w-50">
    <fa-icon  class="icon" [icon]="faTimes"></fa-icon>
</button>
</div>
</div>
<br>
<div class="row">
  <div class="col"></div>
  <div class="col"></div>
<div class="col-md-auto text-left">
  <h4>Attention une fois validé, annulation impossible</h4>
</div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
</div>


<div id="list" class="col-8">
   <h5>Mon Panier</h5> 
<table  class="table">
    <tbody>
      <tr *ngFor='let com of commandes'>
        <th  *ngIf='com.commande>0' scope="row"><img src="{{url}}/image/{{com.idBiere}}/{{com.nom}}"width='50px' height="50px"  ></th>
        <td  *ngIf='com.commande>0' id="td">{{com.nom}}</td>
        <td *ngIf='com.commande>0'> 
            <button id="btn"  (click)="qttmoinsPanier(com.idBiere)" class="btn-lg rounded-pill border bg-warning">
            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
           </button>
           <button id="btn" (click)="qttplusPanier(com.idBiere)" class="btn-lg rounded-pill border btn-warning">
            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
        </button>
    </td>
    <td  *ngIf='com.commande>0' id="td">{{com.commande}}</td>
    <td  *ngIf='com.commande>0' id="td" style="font-size: x-small;">x {{com.prixUnitaire}}€</td>
    <td  *ngIf='com.commande>0' id="td" style="width: 70px;">{{com.total}}€</td>
    <td>
        <button *ngIf='com.commande>0' id="btn1" (click)="deleteCommande(com.idBiere)" class="btn-lg rounded-pill border btn-danger ">
            <fa-icon class="icon" [icon]="faTrash"></fa-icon>
        </button>
    </td>
</tr>
</tbody>

</table>
</div>
<div style="width: 30px;"></div>
<div id='ticket' class="col-2">
    <div class="col text-center">
        <h5>Mon Ticket</h5>
  </div>
  <hr>
  <div *ngIf='!bool'>
    <div class="row" *ngFor='let com of commandes'>
        <div class="col-sm">
            {{com.nom}}
        </div>
        <div class="col-sm">
            {{com.total}}€
        </div>
</div>
</div>
<hr id="hr">
<div class="row">
    <div class="col-sm">
        <h6>TOTAL</h6>
        </div>
        <div class="col-sm">
            <h6>{{total}}€</h6>
            </div>
</div>
</div>



</div>

<div id='button'class="row">
    <div class='col-2' >
    </div>
    
    <div *ngIf='commandes.length==0||bool' class='col-4' >
         <button id="panierbtn" class="btn-block " (click)="validerPanier(com)" disabled> Panier vide</button>
    </div>
    <div *ngIf='commandes.length>0&&!bool' class='col-4' >
        <button id="panierbtn" class="btn-block " (click)="validerPanier(com)" > valider mon panier</button>
</div>
</div>
</div>
 

