#top{background-color: black; 
  color: white; 
   position: sticky; 
  top: 0;
  z-index:10;
  width: 100%;
}
#id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
}


#title{
    font-family: Nova Cut;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(255, 196, 0) 0px 0px 20px, rgb(255, 196, 0) 0px 0px 30px, rgb(255, 196, 0) 0px 0px 40px, rgb(255, 196, 0) 0px 0px 50px, rgb(255, 196, 0) 0px 0px 75px, 2px 2px 2px rgba(206,161,25,0);
  }

h2{
    font-family: Piedra;
}

h4{
    font-family: Piedra;
}

h5{
    font-family: Piedra;
}
h6{
    color: rgb(255, 196, 0);
    font-family: Piedra;
}

#myModal {
    overflow-x: hidden!important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   
    left: 35%;
    top: 10%;
    width: 30%; /* Full width */
    height: 55%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent
    }
    .modal-content{
    background-color: rgba(128, 128, 128, 0.739);
    border-radius: 8px 8px 8px 8px!important; 
    }
    #resaB:hover{
        background-color: rgb(255,196, 0)!important;
        
    }

    #resaB{
       
        border-radius: 8px;
    }

    @media (max-width: 846px) {
        img{
          width: 275px;
          height: 150px;
        }
    }