<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">


<div class='container-fluid'id="id02">
    <app-topnavbar id="top"></app-topnavbar>
    <br>
    <div class="row" style="margin-top: 9%; margin-bottom: 9%;">
        <div class="col-12 text-center">
            <fa-icon [icon]="faQuote" style="color: rgba(250, 162, 0, 0.582);font-size: 4vw"></fa-icon>

        </div>
        <div class="col-12 text-center">
        <h4 style="font-weight: bold; font-style: italic;">Envie de reserver une table pour ce soir, choisissez la !!!</h4>
    </div>
    </div>
    <div data-aos="fade-left">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <h1 id=title>{{table.nom}}</h1>
            </div>
            <div class="col-4"></div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
               <h2>{{table.description}}</h2>
            </div>
            <div class="col-3"></div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-1 align-self-center">
                <button class="btn"  (click)="previousSlide(table.id)">
                 <fa-icon  [icon]="faAngleLeft" style="font-size: 8vw;"></fa-icon>
             </button>
            </div>
            <div class="col-2 text-center align-self-center">
               <h4>capacité : {{table.capacite}}</h4>
            </div>
            <div class="col-6 text-center">
                <img src="{{url}}/imageTable/{{table.id}}/{{table.nom}}" height="250" width="400" alt="table.nom">
            </div>
            <div class="col-2 text-center align-self-center">
               <h5> réservée : {{table.nbResa}} fois</h5>
            </div>
            <div class="col-1 text-right align-self-center">
                <button class="btn"  (click)="nextSlide(table.id)">
                 <fa-icon  [icon]="faAngleRight" style="font-size: 8vw;"></fa-icon>
             </button>
            </div>

        </div>

        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button id='resaB' *ngIf='table.utilisateur!=null&&table.utilisateur==utilisateur.id'(click)='annuler()' class="btn btn-block" style="border-radius: 8px; background-color: black; color: white;">Annuler</button>
                        <button id='resaB' *ngIf='!table.reservationEnCours&&!utilisateur.reservation'(click)='reserver()' class="btn btn-block " style="border-radius: 8px; background-color: black; color: white;">Reserver</button>
                    </div>
                    <div class="col-4"></div>
                    
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <div style="height: 20px;"></div>
        </div>
</div>
<div class="col-3 align-self-center">
    <div  id="myModal" class="modal">

        <div class="modal-content">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-danger " (click)="closeModal()"><fa-icon  class="fa icon " [icon]="faTimes" style="color: rgb(255, 255, 255); font-size: 3vw;"></fa-icon></button>
                </div>
            </div>
            <br>
               
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <h4 style="color: rgb(255,196,0);">Réservation de la table {{table.nom}}</h4>
                </div>
            </div>
                <br>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 text-center">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black; color: white;">Choisir heure</button>
                               <div  class="dropdown-menu">
                                   <a class="dropdown-item" (click)="heure(18)"><p id="h2">18 H</p></a>
                                   <a class="dropdown-item" (click)="heure(19)"><p id="h2">19 H</p></a>
                                   <a class="dropdown-item" (click)="heure(20)"><p id="h2">20 H</p></a>
                                   <a class="dropdown-item" (click)="heure(21)"><p id="h2">21 H</p></a>
                                   <a class="dropdown-item" (click)="heure(22)"><p id="h2">22 H</p></a>
                               </div>
                    </div>
                    <div class="col-3"></div>
                </div>
                <br>
                <div id="confirmationHeure" style="display: none;">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 text-center">
                          <h6> confirmer la réservation pour {{heureResa}} H</h6>
                    </div>
                    <div class="col-3"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3 text-center">
                        <button id="resaB" type="button" class="btn btn-block " (click)="confirmer('yes')" style="background-color: black;"><fa-icon  class="fa icon " [icon]="faCheck" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                    </div>
                    <div class="col-3 text-center">
                        <button id="resaB" type="button" class="btn btn-block " (click)="confirmer('no')" style="background-color: black;"><fa-icon  class="fa icon " [icon]="faTimes" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                    </div>
                    <div class="col-3"></div>
                </div>
                
                
            </div>


                
                
                
           
    </div>
      
      </div>
    
    </div>

        <!-- <div routerLink="/login" *ngIf='!table.reservationEnCours&&objJson===null'>
            <button class="btn btn-success">Reserver</button>
        </div> -->

   