#id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
}
.btn-block:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

#h2{
 
    font-family: Nova Cut;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(255, 196, 0) 0px 0px 20px, rgb(255, 196, 0) 0px 0px 30px, rgb(255, 196, 0) 0px 0px 40px, rgb(255, 196, 0) 0px 0px 50px, rgb(255, 196, 0) 0px 0px 75px, 2px 2px 2px rgba(206,161,25,0);
 
  }



.btn-block{
    outline: none;
    border: none;
    border-radius: 8px 8px 8px 8px;
}

#myModal {
    overflow-x: hidden!important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 69%;
    top: 10%;
    width: 30%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent
  }
  .modal-content{
    background-color: rgba(128, 128, 128, 0.739);
    border-radius: 8px 8px 8px 8px!important; 
  }

  .topButton1:hover{
    background-color: rgb(31, 31, 31) !important;
    
  }
  .topButton:hover{
    transition: 0.6s;
    color: rgb(255, 196, 0) !important;

      }    
.dam{
    box-shadow: none!important;

    
  }
  .topButton1{
      border-radius: 200px 200px 200px 200px;
  }
  
  #img{
      transition: 0.4s;
      
  }
  
  #top{
  
      background-color: black; 
      color: white; 
       position: sticky; 
      top: 0;
      z-index:10;
      transition: 0.4s;
  }