<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div class="modal" id='modalTest' style="width: 100%; height: 100%; background-color: black; display: none;"></div>
<div id="id02" class="container-fluid animate" style="background-color: #f0f0eb;">
    <app-topnavbar id="top" #apptopnavbar [page]='page' (parent)="emit($event)"></app-topnavbar>
<div  id='welcome' class="row">
    <div class="col 12 text-center">
        <h1 style="margin-bottom: 40px; margin-top: 40px; color: rgb(255, 196, 0); font-family: Piedra;">BIENVENUE DANS NOTRE BOUTIQUE</h1>
    </div>
</div>

<div [routerLink]="['/panier']" id="modal" class="modal">
    
        <button class="btn text-left">
            <span   class="fa-layers fa-3x">
            <fa-icon id='annexe' [icon]='faShoppingCart' style="font-size: 4vw; color: rgb(255, 196, 0) ;"></fa-icon>
                <span class="fa-layers-counter" style="background:rgba(255, 0, 0, 0.61)">{{total}}€</span>
            
        </span>
        </button>
</div>



<div *ngIf='user!=undefined&&biereMoment.id!=undefined&&favBiere.id==undefined&&favBiere.active&&biereMoment.active' class="row" style="background-color: rgb(255, 255, 255);">
    <div class="col-4"></div>

    <div class="col-4">
        <div class="card" style=" background-color: white; border:4px solid rgb(255, 196, 0); margin-top:30px ; margin-bottom: 30px; border-radius: 4px;">
            <div class="col text-center text-dark">
                <h6 id="h2" style="font-weight: bold;">Biere Du Moment</h6>
            </div>
            <div class="col text-center text-dark">
                <h5 id="h2" style="font-weight: bold;">{{biereMoment.nom}}</h5>
            </div>
            <button style="background-color: white;" (click)="test(biereMoment.id)" class='btn-block'>
            <div class="col text-center text-dark">
                <img class='biereImg' id='biereImg' src="{{url}}/image/{{biereMoment.id}}/{{biereMoment.nom}}"
                    alt="{{biereMoment.nom}}">
            </div>
        </button>
        
            <div class="col-12 text-center" style="padding-left: 0; padding-right: 0; background-color: rgb(0, 0, 0);">
                <h5 id="qte" style="color: white; font-family: Nova Cut;" >{{biereMoment.prix}} €</h5> 
            </div>
            <br>
           <div style="height: 10px;"></div>
           <div  class="btn-group rounded-pill border border-warning bg-warning text-center" role="group" aria-label="Basic example">
           <button  *ngIf='biereMoment.quantite>0' class="btn"  (click)='flou()' (click)="apptopnavbar.qttmoins(biereMoment)"  class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faMinus"></fa-icon>
           </button>
           <button *ngIf='biereMoment.quantite==0' class="btn" (click)='flou()' (click)="apptopnavbar.qttmoins(biereMoment)"  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
        </button>
        <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input(biereMoment.id)'type="number" min="0" [(ngModel)]="biereMoment.commande" >
           <button *ngIf='biereMoment.quantite>0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faPlus"></fa-icon>
           </button>
           <button *ngIf='biereMoment.quantite==0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
        </button>
       </div>
        <div style="height: 50px; margin-top: 10px;">
            <div class="row">
                <div class="col"></div>
                <div class="col 10">
                    <div id="valider{{biereMoment.id}}" style="display: none;">
                    <button class="btn-block btn-warning rounded-pill"(click)='valider(biereMoment.id)'(click)='apptopnavbar.valider(biereMoment)'><b style="font-family: Nova Cut;">Valider</b></button>
                </div>
                </div>
                <div class="col"></div>
            </div>
            </div>
       <div style="height: 15px;"></div>
        </div>

    </div>


</div>


<div *ngIf='user!=undefined&&favBiere.id!=undefined&&favBiere.active' class="row" style="background-color: rgb(255, 255, 255);" >

    <div class="col-2"></div>
    <div  class="col-3">
        <div class="card" style=" background-color: white; border:4px solid rgb(255, 196, 0); margin-top:30px ; margin-bottom: 30px; border-radius: 4px; ">
            <div class="col text-center text-dark">
                <h6 id="h2" style="font-weight: bold;">Votre Biere Favorite</h6>
            </div>
            <div class="col text-center text-dark">
                <h5 id="h2" style="font-weight: bold;">{{favBiere.nom}}</h5>
            </div>
            <button style="background-color: white;" (click)="test3(favBiere.id)" class='btn-block'>
            <div class="col text-center text-dark">
                <img class='biereImg'id='biereImg3' src="{{url}}/image/{{favBiere.id}}/{{favBiere.nom}}"
                    alt="{{favBiere.nom}}">
            </div>
        </button>
        
            <div class="col-12 text-center" style="padding-left: 0; padding-right: 0; background-color: rgb(0, 0, 0);">
                <h5 id="qte" style="color: white; font-family: Nova Cut;" >{{favBiere.prix}} €</h5> 
            </div>
            <br>
           <div style="height: 10px;"></div>
           <div  class="btn-group rounded-pill border border-warning bg-warning text-center" role="group" aria-label="Basic example">
           <button  *ngIf='favBiere.quantite>0' class="btn"  (click)="flou()"  (click)="apptopnavbar.qttmoins(favBiere)"class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faMinus"></fa-icon>
           </button>
           <button *ngIf='favBiere.quantite==0' class="btn" (click)='flou()'  (click)="apptopnavbar.qttmoins(favBiere)" class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
        </button>
        <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input3(favBiere.id)'type="number" min="0" [(ngModel)]="favBiere.commande" >
           <button *ngIf='favBiere.quantite>0'  (click)='flou()' (click)='apptopnavbar.qttplus(favBiere)' class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faPlus"></fa-icon>
           </button>
           <button *ngIf='favBiere.quantite==0' (click)='flou()' (click)='apptopnavbar.qttplus(favBiere)'  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
        </button>
       </div>
       <div style="height: 50px; margin-top: 10px;">
        <div class="row">
            <div class="col"></div>
            <div class="col 10">
                <div id="valider3{{favBiere.id}}" style="display: none;">
                <button class="btn-block btn-warning rounded-pill"(click)='valider3(favBiere.id)'(click)='apptopnavbar.valider(favBiere)'><b style="font-family: Nova Cut;">Valider</b></button>
            </div>
            </div>
            <div class="col"></div>
        </div>
        </div>
       <div style="height: 15px;"></div>
        </div>

    </div>
    <div class="col-2"></div>

    <div class="col-3">
        <div class="card" style=" background-color: white; border:4px solid rgb(255, 196, 0); margin-top:30px ; margin-bottom: 30px; border-radius: 4px;">
            <div class="col text-center text-dark">
                <h6 id="h2" style="font-weight: bold;">Biere Du Moment</h6>
            </div>
            <div class="col text-center text-dark">
                <h5 id="h2" style="font-weight: bold;">{{biereMoment.nom}}</h5>
            </div>
            <button style="background-color: white;" (click)="test2(biereMoment.id)" class='btn-block'>
            <div class="col text-center text-dark">
                <img class='biereImg' id='biereImg2' src="{{url}}/image/{{biereMoment.id}}/{{biereMoment.nom}}"
                    alt="{{biereMoment.nom}}">
            </div>
        </button>
        
            <div class="col-12 text-center" style="padding-left: 0; padding-right: 0; background-color: rgb(0, 0, 0);">
                <h5 id="qte" style="color: white; font-family: Nova Cut;" >{{biereMoment.prix}} €</h5> 
            </div>
            <br>
           <div style="height: 10px;"></div>
           <div  class="btn-group rounded-pill border border-warning bg-warning text-center" role="group" aria-label="Basic example">
           <button  *ngIf='biereMoment.quantite>0' class="btn" (click)='flou()' (click)="apptopnavbar.qttmoins(biereMoment)"  class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faMinus"></fa-icon>
           </button>
           <button *ngIf='biereMoment.quantite==0' class="btn" (click)='flou()' (click)="apptopnavbar.qttmoins(biereMoment)"  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
        </button>
        <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input2(biereMoment.id)'type="number" min="0" [(ngModel)]="biereMoment.commande" >
           <button *ngIf='biereMoment.quantite>0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faPlus"></fa-icon>
           </button>
           <button *ngIf='biereMoment.quantite==0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
        </button>
       </div>
       <div style="height: 50px; margin-top: 10px;">
        <div class="row">
            <div class="col"></div>
            <div class="col 10">
                <div id="valider2{{biereMoment.id}}" style="display: none;">
                <button class="btn-block btn-warning rounded-pill"(click)='valider2(biereMoment.id)'(click)='apptopnavbar.valider(biereMoment)'><b style="font-family: Nova Cut;">Valider</b></button>
            </div>
            </div>
            <div class="col"></div>
        </div>
        </div>
       <div style="height: 15px;"></div>
        </div>

    </div>


</div>


<div *ngIf='user!=undefined&&favBiere.id==undefined&&biereMoment.id!=undefined&&biereMoment.active' class="row" style="background-color: rgb(255, 255, 255);" >
        <div class="col-4"></div>
    
        <div class="col-4">
            <div class="card" style=" background-color: white; border:4px solid rgb(255, 196, 0); margin-top:30px ; margin-bottom: 30px; border-radius: 4px;">
                <div class="col text-center text-dark">
                    <h6 id="h2" style="font-weight: bold;">Biere Du Moment</h6>
                </div>
                <div class="col text-center text-dark">
                    <h5 id="h2" style="font-weight: bold;">{{biereMoment.nom}}</h5>
                </div>
                <button style="background-color: white;" (click)="test(biereMoment.id)" class='btn-block'>
                <div class="col text-center text-dark">
                    <img class='biereImg'id='biereImg' src="{{url}}/image/{{biereMoment.id}}/{{biereMoment.nom}}"
                        alt="{{biereMoment.nom}}">
                </div>
            </button>
            
                <div class="col-12 text-center" style="padding-left: 0; padding-right: 0; background-color: rgb(0, 0, 0);">
                    <h5 id="qte" style="color: white; font-family: Nova Cut;" >{{biereMoment.prix}} €</h5> 
                </div>
                <br>
               <div style="height: 10px;"></div>
               <div  class="btn-group rounded-pill border border-warning bg-warning text-center" role="group" aria-label="Basic example">
               <button  *ngIf='biereMoment.quantite>0' class="btn"  (click)='flou()' (click)="apptopnavbar.qttmoins(biereMoment)"  class="rounded-pill btn-warning w-50">
                   <fa-icon class="icon" [icon]="faMinus"></fa-icon>
               </button>
               <button *ngIf='biereMoment.quantite==0' class="btn" (click)='flou()' (click)="apptopnavbar.qttmoins(biereMoment)"  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
                <fa-icon class="icon" [icon]="faMinus"></fa-icon>
            </button>
            <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input(biereMoment.id)'type="number" min="0" [(ngModel)]="biereMoment.commande" >
               <button *ngIf='biereMoment.quantite>0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn-warning w-50">
                   <fa-icon class="icon" [icon]="faPlus"></fa-icon>
               </button>
               <button *ngIf='biereMoment.quantite==0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
                <fa-icon class="icon" [icon]="faPlus"></fa-icon>
            </button>
           </div>
            <div style="height: 50px; margin-top: 10px;">
                <div class="row">
                    <div class="col"></div>
                    <div class="col 10">
                        <div id="valider{{biereMoment.id}}" style="display: none;">
                        <button class="btn-block btn-warning rounded-pill"(click)='valider(biereMoment.id)'(click)='apptopnavbar.valider(biereMoment)'><b style="font-family: Nova Cut;">Valider</b></button>
                    </div>
                    </div>
                    <div class="col"></div>
                </div>
                </div>
           <div style="height: 15px;"></div>
            </div>
    
        </div>
    
    
    </div>

<div *ngIf='user==undefined&&biereMoment.id!=undefined&&biereMoment.active' class="row" style="background-color: rgb(255, 255, 255);" >
    <div class="col-4"></div>

    <div class="col-4">
        <div class="card" style=" background-color: white; border:4px solid rgb(255, 196, 0); margin-top:30px ; margin-bottom: 30px; border-radius: 4px; ">
            <div class="col text-center text-dark">
                <h6 id="h2" style="font-weight: bold;">Biere Du Moment</h6>
            </div>
            <div class="col text-center text-dark">
                <h5 id="h2" style="font-weight: bold;">{{biereMoment.nom}}</h5>
            </div>
            <button style="background-color: white;" (click)="test(biereMoment.id)" class='btn-block'>
            <div class="col text-center text-dark">
                <img class='biereImg'id='biereImg' src="{{url}}/image/{{biereMoment.id}}/{{biereMoment.nom}}"
                    alt="{{biereMoment.nom}}">
            </div>
        </button>
        
            <div class="col-12 text-center" style="padding-left: 0; padding-right: 0; background-color: rgb(0, 0, 0);">
                <h5 id="qte" style="color: white; font-family: Nova Cut;" >{{biereMoment.prix}} €</h5> 
            </div>
            <br>
           <div style="height: 10px;"></div>
           <div  class="btn-group rounded-pill border border-warning bg-warning text-center" role="group" aria-label="Basic example">
           <button  *ngIf='biereMoment.quantite>0' class="btn" (click)="apptopnavbar.qttmoins(biereMoment)" class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faMinus"></fa-icon>
           </button>
           <button *ngIf='biereMoment.quantite==0' class="btn" (click)="apptopnavbar.qttmoins(biereMoment)" class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
        </button>
        <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input(biereMoment.id)'type="number" min="0" [(ngModel)]="biereMoment.commande" >
           <button *ngIf='biereMoment.quantite>0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn-warning w-50">
               <fa-icon class="icon" [icon]="faPlus"></fa-icon>
           </button>
           <button *ngIf='biereMoment.quantite==0' (click)='flou()' (click)='apptopnavbar.qttplus(biereMoment)'  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
        </button>
       </div>
       <div style="height: 50px; margin-top: 10px;">
        <div class="row">
            <div class="col"></div>
            <div class="col 10">
                <div id="valider2{{biereMoment.id}}" style="display: none;">
                <button class="btn-block btn-warning rounded-pill"(click)='valider(biereMoment.id)'(click)='apptopnavbar.valider(biereMoment)'><b style="font-family: Nova Cut;">Valider</b></button>
            </div>
            </div>
            <div class="col"></div>
        </div>
        </div>
       
       <div style="height: 15px;"></div>

        </div>

    </div>


</div>
<br>
<br>
<br>
<br>
<br>
<div  *ngIf='bieres.length>0' class="row">
    <div class="col-8"></div>
    <div class="col-4 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(100, 194, 237);">
              Trier Par
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="sort('nom')"><p id="h2">Nom</p></a>
              <a class="dropdown-item" (click)="sort('prix')"><p id="h2">Prix</p></a>
              <a class="dropdown-item" (click)="sort('quantite')"><p id="h2">Quantite</p></a>
              <a class="dropdown-item" (click)="sort('degre')"><p id="h2">Degre</p></a>
              <!-- <a class="dropdown-item" (click)="sort('type')">Type</a> -->
            </div>
          </div>

    </div>
</div>
<br>
<div class="row" >
    <div id="panel" class="col-3"style="box-shadow: rgba(82, 82, 82, 0.2) 0px 1px 6px 0px;" >
        <div></div>
        <br>
        <div style=" padding-left: 15px;">
        <p style="font-weight: bold; font-family: Luxe;">FILTRES</p>
    </div>
    <br>
    <br>
    
    <div id="option">
        <div class="row">
            <div class="col-2">
                <button style="background-color: transparent;" class='btn-block'> <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 1.5vw;"></fa-icon></button>
            </div>
            <div id="search" class="col-9" >
            <input style="text-align: center;  border: none; background-color:transparent; color: white;" type="text" class="form-control" id="prixMin" placeholder="ex: Karmeliet, Duvel" (keyup)="findbyname()" [(ngModel)]="recherche">
        </div>
        <div class="col-1"></div>
        </div>
    </div>
    <br>
    <br>
    
    <div id="option">
        <div class="row">
            <div class="col-8 align-self-center " >
                <p id="h2" style="font-weight: bold;">Prix</p>
            </div>
            <br>
            <div class="col-4"> 
        </div>
        </div>
        <div class="row">
            <div class="col-6 align-self-center" >
                <input style="text-align: center;" type="number" step=".01" class="form-control" id="prixMin" placeholder="0 €" (keyup)="minimumInput($event)" [(ngModel)]="prixMin">
            </div>
            <div class="col-6 align-self-center">
                <input style="text-align: center;" type="number" step=".01" class="form-control" id="prixMax" placeholder="20 €" (keyup)="maximumInput($event)"  [(ngModel)]="prixMax">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <input class="form-control"  (change)="sliderMin($event)" type="range" step=".01" id="rangeMin" min="0" max="20" [(ngModel)]="prixMin">
            </div>
            <div class="col-6">
                <input class="form-control"  (change)="sliderMax($event)" type="range" step=".01" id="rangeMax" min="0" max="20" [(ngModel)]="prixMax">
            </div>
        </div>
        </div>
        <br>
        <br>
    
        <div id="option">
            <div class="row">
                <div class="col-8 align-self-center " >
                    <p id="h2" style="font-weight: bold;">Quantite</p>
                </div>
                <br>
                <div class="col-4"> 
            </div>
            </div>
            <div class="row">
                <div class="col-6 align-self-center" >
                    <input style="text-align: center;" type="number"  class="form-control" id="prixMin" placeholder="0" (keyup)="minimumInputQte($event)" [(ngModel)]="qteMin">
                </div>
                <div class="col-6 align-self-center">
                    <input style="text-align: center;" type="number" class="form-control" id="prixMax" placeholder="50000" (keyup)="maximumInputQte($event)"  [(ngModel)]="qteMax">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <input class="form-control"  (change)="sliderMinQte($event)" type="range"  id="rangeMin" min="0" max="50000" [(ngModel)]="qteMin">
                </div>
                <div class="col-6">
                    <input class="form-control"  (change)="sliderMaxQte($event)" type="range" id="rangeMax" min="0" max="50000" [(ngModel)]="qteMax">
                </div>
            </div>
            </div>
            <br>
            <br>
    
        <div id="option" style="overflow-y:auto; overflow-x: hidden; height: 300px;">
            <div class="row">
                <div class="col-8 align-self-center " >
                    <p id="h2" style="font-weight: bold;">Type</p>
                </div>
                <br>
                <div class="col-4"> 
            </div>
            </div>
            <div class="row">
                <div class="col-8 align-self-center " >
                    <p id="h2">All</p>
                </div>
            <div class="col-4">
                <div id="all">
                    <button style="background-color: transparent;" class='btn-block' (click)="findByFilter('noAll')"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
                </div>
                <div id="noAll" style="display: none;" >
                <button style="background-color: transparent;" class='btn-block' (click)="findByFilter('all')"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(248, 248, 248); font-size: 2vw;"></fa-icon></button>
            </div>
        </div>
    </div>
            <div *ngFor="let filtre of typeDebieres" class="row">
                <div class="col-8 align-self-center " >
                    <p id="h2">{{filtre.nom}}</p> 
                </div>
                <div class="col-4">
                    <div id="{{filtre.nom}}"style="display: none;">
                        <button style="background-color: transparent;" class='btn-block' (click)="findByFilter('No'+filtre.nom)"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
                    </div>
                    <div id="No{{filtre.nom}}" >
                    <button style="background-color: transparent;" class='btn-block' (click)="findByFilter(filtre.nom)"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                </div>
            </div>
            </div>
        </div>
        <br>
        <br>
    
        <div id="option">
            <div class="row">
                <div class="col-8 align-self-center " >
                    <p id="h2"style="font-weight: bold; ">Degré Alcool</p>
                </div>
                <br>
                <div class="col-4"> 
            </div>
            </div>
            <div class="row">
                <div class="col-6 align-self-center" >
                    <input style="text-align: center;" type="number"  class="form-control" step=".1" id="prixMin" placeholder="2,3°" (keyup)="minimumInputAlc($event)" [(ngModel)]="alcMin">
                </div>
                <div class="col-6 align-self-center">
                    <input style="text-align: center;" type="number" class="form-control" step=".1" id="prixMax" placeholder="12,1°" (keyup)="maximumInputAlc($event)"  [(ngModel)]="alcMax">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <input class="form-control"  (change)="sliderMinAlc($event)" type="range" step=".1"  id="rangeMin" min="0" max="35" [(ngModel)]="alcMin">
                </div>
                <div class="col-6">
                    <input class="form-control"  (change)="sliderMaxAlc($event)" type="range" step=".1" id="rangeMax"  min="0" max="35" [(ngModel)]="alcMax">
                </div>
            </div>
            </div>
            <br>
    
    
    </div>
    <div class="col"></div>
    <div class="col-7" >
        <div class="row">
            <div *ngFor="let biere of bieres" class="col-4">
                    <div id='card{{biere.id}}'class="card" style=" background-color: white; border:none; border-radius: 4px; ">
                <div class="col text-center text-dark">
                    <h5 id="h2" style="font-weight: bold;">{{biere.nom}}</h5>
                </div>
                <button style="background-color: white;" (click)="cardAnimate(biere.id)" class='btn-block'>
                <div class="col text-center text-dark">
                    <img class='biereImg'id='biereImgCard{{biere.id}}' src="{{url}}/image/{{biere.id}}/{{biere.nom}}"
                        alt="{{biere.nom}}">
                </div>
            </button>
            
                <div class="col-12 text-center" style="padding-left: 0; padding-right: 0; background-color: rgb(0, 0, 0);">
                    <h5 id="qte" style="color: white; font-family: Nova Cut;" >{{biere.prix}} €</h5> 
                </div>
                <br>
               <div style="height: 10px;"></div>
               <div  class="btn-group rounded-pill border border-warning bg-warning text-center" role="group" aria-label="Basic example" style="margin-right: 4px; margin-left: 4px;">
               <button  *ngIf='biere.quantite>0' class="btn" (click)="flou()" (click)="apptopnavbar.qttmoins(biere)"  class="rounded-pill btn-warning w-50">
                   <fa-icon class="icon" [icon]="faMinus"></fa-icon>
               </button>
               <button *ngIf='biere.quantite==0' class="btn" (click)="flou()" (click)="apptopnavbar.qttmoins(biere)"  class="rounded-pill btn-warning w-50">
                <fa-icon class="icon" [icon]="faMinus"></fa-icon>
            </button>
               <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input(biere.id)'type="number" min="0" [(ngModel)]="biere.commande" >
               <button *ngIf='biere.quantite>0' (click)="flou()" (click)='apptopnavbar.qttplus(biere)'  class="rounded-pill btn-warning w-50">
                   <fa-icon class="icon" [icon]="faPlus"></fa-icon>
               </button>
               <button *ngIf='biere.quantite==0' disabled (click)="flou()" (click)='apptopnavbar.qttplus(biere)'  class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
                <fa-icon class="icon" [icon]="faPlus"></fa-icon>
            </button>
           </div>
           <div style="height: 50px; margin-top: 10px;">
            <div class="row">
                <div class="col"></div>
                <div class="col 10">
                    <div id="valider{{biere.id}}" style="display: none;">
                    <button class="btn-block btn-warning rounded-pill"(click)='valider(biere.id)'(click)='apptopnavbar.valider(biere)'><b style="font-family: Nova Cut;">Valider</b></button>
                </div>
                </div>
                <div class="col"></div>
            </div>
            </div>
           <div style="height: 15px;"></div>
            </div>
              <br>
              <br>
            </div>
            
    
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li *ngIf='page>0' class="page-item disabled">
                <button style="background-color: white;" class="btn page" (click)="pagination('precedent')">Précédent</button>
            </li>
            <li class="page-item"> <div *ngIf='bieres.length>2' class="btn" style="background-color: rgb(0, 0, 0); color: white;">Page {{page+1}}</div></li>
            <li class="page-item disabled">
                <button *ngIf='bieres.length>2 &&filtre.length==0 &&bieres2.length>0' style="background-color: white;"class="btn page" (click)="pagination('suivant')">Suivant</button>
            </li>
        </ul>
    </nav>
    </div>
    <div class="col-1"></div>
    </div>

   

</div>
<div id="myModal1" class="modal" style="height: 100%; width: 100%;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-4 text-right">
            <div class="loader"></div>
        </div>
        <div class="col-3"></div>
        
    </div>
  </div>