<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan One">


<div id="id02" class="container-fluid animate">
    <app-topnavbar id="top"></app-topnavbar>
    <br>
            <div id="titre" class="row">
                <h1 id="h1" class="col text-center text-dark"> Mon Compte </h1>
            </div>
            <div id="contenu" class="row">
                <div class="col-4 text-center">
                    <br>
                    <button style="background-color: orange;" class='btn-block' routerLink="/mon-compte/edit"> <fa-icon class="fa icon" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                    <br>
                </div>
                <div class="col-4 text-center">
                    <br>
                    <button style="background-color: rgb(179, 0, 0);" class='btn-block ' routerLink="/mon-compte/password"><fa-icon class="fa icon" [icon]="faPassword" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                </div>
                <div class="col-4 text-center">
                    <br>
                    <button style="background-color: rgb(4, 100, 0);" class='btn-block ' routerLink="/mon-compte/factures"><fa-icon class="fa icon" [icon]="faInvoice"  style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                </div>
            </div>
</div> 