.btn-block:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

.btn-block{
    border-radius: 8px 8px 8px 8px;
    outline: none;
    border: none;
}
#h1{
    font-family: Titan One;
}
#id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
}