<div class="row col-12">
  <h3>Mise à jour</h3>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" required [(ngModel)]="utilisateur.nom" name="nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" id="prenom" required [(ngModel)]="utilisateur.prenom" name="prenom">
      </div>
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="utilisateur.username"
          name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="utilisateur.password"
          name="password">
      </div>
      <div class="form-group">
        <label for="adresseMail">AdresseMail</label>
        <input type="text" class="form-control" id="adresseMail" required [(ngModel)]="utilisateur.adresseMail"
          name="emailId">
      </div>
      <div class="form-group">
        <label for="reservation">Reservation</label>
        <select id="reservation" name="reservation" required [(ngModel)]="utilisateur.reservation">
          <option value="{{utilisateur.reservation}}">{{utilisateur.reservation}}</option>
          <option *ngIf="utilisateur.reservation" value="false">Annuler réservation</option>
        </select>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" name="role" required [(ngModel)]="utilisateur.role.id">
          <option *ngFor="let role of roles" value="{{role.id}}">{{role.nom}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>