<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<div id='rechercheFacture' class="container-fluid animate">
    <app-topnavbar id="top"></app-topnavbar>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
    <h1 id="title">Recherchez vos factures</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <hr>
    <br>
    <div  data-aos="fade-right" class="row">
        <div class="col-4"> </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6 text-center">
                    <h3>Par N° de Facture </h3> 
                    </div>
                    <div class="col-6 text-center">
                        <h3>Par Montant </h3> 
                    </div>
    
            </div>
            
        </div>
        <div class="col-4"></div>
    </div>
    <div  data-aos="fade-right" class="row">
        <div class="col-4"> </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <div id='rechercheID1' style="display: none;">
                    <input style="text-align: center;" type="number" min="0" class="form-control" id="inputIdFacture" placeholder="N° facture" [(ngModel)]="numeroFacture">
                    <button (click)='recherche("id")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                </div>
                    <button id='rechercheID' (click)='recherche("id")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faId" style="color: orange; font-size: 8vw;"></fa-icon></button>
                </div>

                    <div class="col-6">
                        <div id='rechercheEuro1' style="display: none;">
                            <input style="text-align: center;" type="number" min="0" class="form-control" id="inputIdFacture" placeholder="montant" [(ngModel)]="montantFacture">
                            <button (click)='recherche("euro")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                        </div>
                        <button id="rechercheEuro" (click)='recherche("euro")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faEuro" style="color: orange; font-size: 8vw;"></fa-icon></button>
                    </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
        <br>
        <br>
        <div  data-aos="fade-right" class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 text-center">
                        <h3>Par Date </h3> 
                        </div>
                        <div class="col-6 text-center">
                            <h3>Par Periode </h3> 
                        </div>
    
                </div>
                
            </div>
            <div class="col-4"></div>
        </div>
        <div  data-aos="fade-right" class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <div id='rechercheDate1' style="display: none;">
                            <input style="text-align: center;" type="date" class="form-control" id="inputIdFacture" placeholder="yyyy/mm/dd" [(ngModel)]="dateFacture">
                            <button (click)='recherche("date")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                            </div>
                        <button  id="rechercheDate"  (click)='recherche("date")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faCalendarDay" style="color: orange; font-size: 8vw;"></fa-icon></button>
                        </div>

                        <div class="col-6">
                            <div id='rechercheDatePeriod1' style="display: none;">
                                <input style="text-align: center;" type="date" class="form-control" id="inputIdFacture" placeholder="yyyy/mm/dd" [(ngModel)]="dateFacture">
                                <input style="text-align: center;" type="date" class="form-control" id="inputIdFacture" placeholder="yyyy/mm/dd" [(ngModel)]="dateFacture1">
                                <button (click)='recherche("datePeriod")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                                </div>
                            <button  id="rechercheDatePeriod"  (click)='recherche("datePeriod")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faCalendar" style="color: orange; font-size: 8vw;"></fa-icon></button>
                        </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <br>
        <br>
    
        <div  data-aos="fade-right" class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 text-center">
                        <h3>A Partir De </h3> 
                        </div>
                        <div class="col-6 text-center">
                            <h3>Jusqu'Au </h3> 
                        </div>
    
                </div>
                
            </div>
            <div class="col-4"></div>
        </div>
        <div  data-aos="fade-right" class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <div id='rechercheAPartir1' style="display: none;">
                        <input style="text-align: center;" type="date" class="form-control" id="inputIdFacture" placeholder="yyyy/mm/dd" [(ngModel)]="dateFacture">
                            <button (click)='recherche("dateAPartir")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                            </div>
                        <button  id="rechercheAPartir"  (click)='recherche("dateAPartir")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faCalendar1" style="color: orange; font-size: 8vw;"></fa-icon></button>
                        </div>


                        <div class="col-6">
                            <div id='rechercheJusque1' style="display: none;">
                                <input style="text-align: center;" type="date" class="form-control" id="inputIdFacture" placeholder="yyyy/mm/dd" [(ngModel)]="dateFacture">
                                    <button (click)='recherche("dateJusque")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                                    </div>
                                <button  id="rechercheJusque"  (click)='recherche("dateJusque")' style="background-color:  rgb(0, 0, 0);" class='btn-block' > <fa-icon class="fa icon" [icon]="faCalendar1" style="color: orange; font-size: 8vw;"></fa-icon></button>
                                
                        </div>
    
                </div>
                
            </div>
            <div class="col-4"></div>
        </div>
        <br>
        <br>
        <div  class="row">
            <div class="col-4"> </div>
        <div class="col-4 text-center">
            <h3>Retour</h3>
            </div>
            <div class="col-4"> </div>
        </div>
        
            <div  data-aos="fade-right" class="row">
                <div class="col-4"> </div>
                <div class="col-4">
                <button routerLink="/mon-compte/factures" style="background-color:  rgb(0, 63, 100);" class='btn-block' > <fa-icon class="fa icon" [icon]="faReply" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                </div>
                <div class="col-4"></div>
            </div>
</div>
<br>
<br>
<div id="invoice" class="row" style="display: none;">
    <div *ngFor ="let lastInvoice of allFactures">
    <div class="row">
       
            <div class=col-1></div>
            <div class="col-10">
                <div class="row">
                <div class="col-4">
                    <h4 style="font-weight: bold;">Facture N° {{lastInvoice.id}} </h4>
                </div>
                <div class="col-4 text-center">
                    <h4 style="font-weight: bold;">Date de la facture {{lastInvoice.dateAchatString}} </h4>
                </div>
                <div class="col-4 text-right">
                    <h4 style="font-weight: bold;">Montant de la facture {{lastInvoice.prixTotal}}€ </h4>
                </div>
            </div>
            </div>
            <div class=col-1></div>
    </div>
   

    <br>
    <br>
    <div class="row">
       
        <div  class="col-sm-2"></div>
    <div  class="col-sm-8">
     <!-- <table  class="table">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nom</th>
              <th scope="col">Prix Unitaire</th>
            </tr>
          </thead>
         <tbody>
           <tr *ngFor='let biere of bieres'>
             <th scope="row"><img src="{{url}}/image/{{biere.id}}/{{biere.nom}}"width='50px' height="50px"></th>
             <td  id="td">{{biere.nom}}</td>
         <td id="td">x {{biere.prix}}€</td>
     </tr>
     </tbody>
     </table> -->
     </div>
     <div  class="col-sm-2"></div>
    </div>
    <div  class="row" id="download">
        <br>
        
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
            <div class="col-6">
                <button  (click)="download(lastInvoice.id)" style="background-color: rgb(38, 136, 20);" class='btn-block '><fa-icon class="fa icon" [icon]="faDownload" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
            </div>
            <div class="col-6">
                <button  (click)="return()" style="background-color: rgb(0, 92, 179);" class='btn-block '><fa-icon class="fa icon" [icon]="faReply" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
    
                </div> 
                
            </div>
        </div>
    
        <div class="col-sm-3"></div>
    
    </div>
    <hr>
    <div style="height: 15px; background-color: #EAEFF5"></div>
</div>
</div>
<hr>
<br>
    
            