.btn-block:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

#title{
    color: white;
    font-family: Piedra;
}

h3{
    color: white;
    font-family: Piedra;
}




.btn-block{
    border-radius: 8px 8px 8px 8px;
        outline: none;
        border: none;
    }

    #invoice{
        border-radius: 8px 8px 8px 8px;
        border: solid;
        background-color: gray;
        box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
    }

#rechercheFacture{
     padding-right: 0px; 
  padding-left: 0px;
}