div {
    -webkit-filter: blur(17px);
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #general {
      transform: rotate(90deg);
      transform-origin: top right;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }