
<table *ngIf="utilisateur" class="table">
    <tbody>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Nom :</th>
            <td style="font-size: 1.7vw;">{{utilisateur.nom}}</td>
        </tr>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Prénom :</th>
            <td style="font-size: 1.7vw;">{{utilisateur.prenom}}</td>
        </tr>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Nom d'utilisateur :</th>
            <td style="font-size: 1.7vw;">{{utilisateur.username}}</td>
        </tr>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Date de naissance :</th>
            <td style="font-size: 1.7vw;">{{utilisateur.dateAge |  date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Age :</th>
            <td style="font-size: 1.7vw;">{{age}} ans</td>
        </tr>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Adresse e-mail :</th>
            <td style="font-size: 1.7vw;">{{utilisateur.adresseMail}}</td>
        </tr>
        <tr>
            <th style="font-size: 1.9vw;" scope="row">Reservation en cours :</th>
            <td style="font-size: 1.7vw;" *ngIf="utilisateur.reservation===true">vous avez une reservation en cours</td>
            <td style="font-size: 1.7vw;" *ngIf="utilisateur.reservation===false">aucune reservation</td>
        </tr>
    </tbody>
</table>
