<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="id02" class="container-fluid animate">
    <div  id="top" class="sticky text-center" >
        <div class="col-3 align-self-center">
            <div  id="myModal" class="modal">

                <div class="modal-content">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/bieres"> <fa-icon  class="fa icon topButton" [icon]="faBeer" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/tables"> <fa-icon  class="fa icon topButton" [icon]="faTable" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/cours"> <fa-icon  class="fa icon topButton" [icon]="faCourse" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/users"> <fa-icon  class="fa icon topButton" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/business"> <fa-icon  class="fa icon topButton" [icon]="faBusiness" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion"> <fa-icon  class="fa icon topButton" [icon]="faTools" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3"></div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/boutique"> <fa-icon  class="fa icon topButton" [icon]="faHome" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3"> </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                </div>
                </div>
            </div>
              
              </div>
            
            </div>
        <div  class="row">
            <div class="col-3">
            </div>

            <div  class="col-6">
                <img id="img" src="assets/logo1.jpg" height="280" width="350">
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-9"></div>
                    <div  class="col-3 text-left">
                        <button style="background-color: transparent;" class='btn-block topButton1' (click)='damier()'> <fa-icon class="fa icon topButton" [icon]="faDamier" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-3 align-self-center">
                <div class="col-3 align-self-center">
                    <button id="create" style="background-color: transparent;border-radius: 8px;" class='btn-block' routerLink="/gestion"> <fa-icon id="return" class="fa icon topButton" [icon]="faDoor" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button>
        </div>
                        
            </div>
            <div class="col-6 align-self-center">
              <h2 id="title" *ngIf="noActive">Tables Désactivées </h2>
              <h2 id="title" *ngIf="!noActive&&!active">Toutes les Tables</h2>
              <h2 id="title" *ngIf="active" >Tables Actives</h2>
          </div>
                    
        </div>
       
    </div>
    <br>
    <br>

    <div class=" text-center" >
      <div  class="row">
          <div class="col-10"></div>
          <div class="col-2">
              <button style="background-color: transparent;border-radius: 8px;" class='btn-block' (click)='create()'> <fa-icon id="iCreate" class="fa icon topButton" [icon]="faPlusCircle" style="color: black; font-size: 4vw;"></fa-icon></button>
          </div>
      </div>
  </div>
  <div  id="myModal1" class="modal">

    <div  id='modalContent' class="modal-content">
        <button style="background-color: transparent;border-radius: 8px;" class='btn-block' (click)='create()'> <fa-icon id="iClose" class="fa icon topButton" [icon]="faClose" style="color: rgb(255, 196, 0);; font-size: 4vw;"></fa-icon></button>
        <app-table-create (parent)="emit($event)" ></app-table-create>
</div>
  
  </div>

  <div  *ngIf='tables.length>0' class="row">
    <div class="col-8"></div>
    <div class="col-4 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Trier Par
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="sort('Nom')"><p id="h2">Nom</p></a>
              <a class="dropdown-item" (click)="sort('Capacite')"><p id="h2">Capacite</p></a>
              <a class="dropdown-item" (click)="sort('Reservation')"><p id="h2">Reservation</p></a>
            </div>
          </div>

    </div>
</div>
<br>

<div class="row" >
  <div id="panel" class="col-3"style="box-shadow: 6px -1px 12px -10px rgba(0,0,0,0.75);" >
      <div></div>
      <br>
      <div style=" padding-left: 15px;">
      <p style="font-weight: bold; font-family: Luxe;">FILTRES</p>
  </div>
  <br>
  <br>
  
  <div id="option">
      <div class="row">
          <div class="col-2">
              <button style="background-color: transparent;" class='btn-block'> <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 1.5vw;"></fa-icon></button>
          </div>
          <div id="search" class="col-9" >
          <input style="text-align: center;  border: none; background-color:transparent; color: white;" type="text" class="form-control" id="prixMin" placeholder="ex: President, Romance" (keyup)="findbyname()" [(ngModel)]="recherche">
      </div>
      <div class="col-1"></div>
      </div>
  </div>
  <br>
  <br>

  <div id="option">
    <div class="row">
        <div class="col-8 align-self-center " >
            <p id="h2" style="font-weight: bold;">Statut</p>
        </div>
        <br>
        <div class="col-4"> 
    </div>
    </div>
    <div class="row">
        <div class="col-8 align-self-center " >
            <p id="h2">Tables Actives</p>
        </div>
        <div class="col-4">
            <div id="actOn"style="display: none;">
                <button style="background-color: transparent;" class='btn-block' (click)="activeB()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="ActOff" >
            <button style="background-color: transparent;" class='btn-block' (click)="activeB()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-8 align-self-center" >
            <p id="h2">Tables Desactivées</p>
        </div>
        <div class="col-4">
            <div id="noActOn"style="display: none;">
                <button style="background-color: transparent;" class='btn-block' (click)="nonActive()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="noActOff">
            <button style="background-color: transparent;" class='btn-block' (click)="nonActive()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
    </div>
</div>
<br>
<br>
  
  
  
  <div id="option">
      <div class="row">
          <div class="col-8 align-self-center " >
              <p id="h2" style="font-weight: bold;">Disponibilité</p>
          </div>
          <br>
          <div class="col-4"> 
      </div>
      </div>
      <div class="row">
          <div class="col-8 align-self-center " >
              <p id="h2">Tables Reservées</p>
          </div>
          <div class="col-4">
              <div id="DispoOn"style="display: none;">
                  <button style="background-color: transparent;" class='btn-block' (click)="dispo()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
              </div>
              <div id="DispoOff" >
              <button style="background-color: transparent;" class='btn-block' (click)="dispo()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
          </div>
      </div>
      </div>
      <div class="row">
          <div class="col-8 align-self-center" >
              <p id="h2">Tables Disponibles</p>
          </div>
          <div class="col-4">
              <div id="noDispoOn"style="display: none;">
                  <button style="background-color: transparent;" class='btn-block' (click)="nonDispo()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
              </div>
              <div id="noDispoOff">
              <button style="background-color: transparent;" class='btn-block' (click)="nonDispo()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
          </div>
      </div>
      </div>
  </div>
  <br>
  <br>

  
      <div id="option">
          <div class="row">
              <div class="col-8 align-self-center " >
                  <p id="h2" style="font-weight: bold;">Capacité</p>
              </div>
              <br>
              <div class="col-4"> 
          </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
              <div class="col-6 align-self-center" >
                  <input style="text-align: center;" type="number"  class="form-control" id="prixMin" min="1" max="20" placeholder="10" (keyup)="minimumInputQte($event)" [(ngModel)]="qteMin">
              </div>
              <div class="col-3 "></div>
          </div>
          <br>
          <div class="row">
              <div class="col-12">
                  <input class="form-control"  (change)="sliderMinQte($event)" type="range"  id="rangeMin" min="1" max="20" [(ngModel)]="qteMin">
              </div>
              
          </div>
          </div>
        
      <br>
      <br>

      <div id="option">
          <div id="CancelResa">
        <div  class="row">
            <div class="col-12 align-self-center " >
                <p id="h2" style="font-weight: bold;">Reset réservations journalières</p>
            </div>
            <br>
           
        </div>
        <div  class="row">
          <div class="col-3"></div>
            <div class="col-6 align-self-center" >
              <button id="create" style="background-color: red; border-radius: 8px;" class='btn-block' (click)="resetResa()"> <fa-icon class="fa icon" [icon]="faDanger" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
            </div>
            <div class="col-3 "></div>
            
        </div>
        <div class="row" style="height: 7px;"></div>

    </div>

    <div id="CancelResa2" style="display: none;">
        <div  class="row">
            <div class="col-12 align-self-center " >
                <p id="h2" style="font-weight: bold;">Etes vous sûr ?</p>
            </div>
            <br>
           
        </div>
        <div  class="row">
          <div class="col-3"></div>
            <div class="col-3 align-self-center" >
              <button id="create" style="background-color: rgb(255, 196, 0); border-radius: 8px;" (click)="confirm('oui')" class='btn-block'><fa-icon class="fa icon" [icon]="faCheck" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
            </div>
            <div class="col-3 ">
                <button id="create" style="background-color: rgb(0, 0, 0); border-radius: 8px;" class='btn-block' (click)="confirm('non')"> <fa-icon class="fa icon" [icon]="faTimes" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row" style="height: 7px;"></div>

    </div>
        </div>
  
  
  
    
  </div>
  <div class="col"></div>
  <div class="col-7">
      <div class="row">
          <div *ngFor="let table of tables" class="col-4">
                  <div class="card" style=" background-color: white; border-radius: 8px;">
              <div class="col text-center text-dark">
                  <h5 id="h2" style="font-weight: bold;">{{table.nom}}</h5>
              </div>
              <button style="background-color: white;" routerLink="detail/" [queryParams]="{idTable:table.id}" class='btn-block'>
              <div class="col text-center text-dark">
                  <img id='biereImg' src="{{url}}/imageTable/{{table.id}}/{{table.nom}}" alt="{{table.nom}}" >
              </div>
          </button>
          <br>
          
              <div class="col-12" style="padding-left: 0; padding-right: 0;">
                  <button id="btn{{table.id}}"  style="background-color: rgb(0, 0, 0); " (click)="quantite(table.id)" class='btn-block'>
                  <h5 id="qte" style="color: white;" >Capacité {{table.capacite}}</h5> </button>
                  <input style="text-align: center;" type="number" class="form-control" id="inputQte{{table.id}}" placeholder="capacité" [(ngModel)]="inputQte" style="display: none;">
              </div>
              <br>
              <div class="col-12" style="padding-left: 0; padding-right: 0;">
                  <button id="btnPrix{{table.id}}"  style="background-color: rgb(0, 0, 0);" (click)="prix(table.id)" class='btn-block'>
                  <h5 id="prix"  style="color: white;">Nb Resa {{table.nbResa}}</h5> </button>
                  <input style="text-align: center;" type="number" class="form-control" id="inputPrix{{table.id}}" placeholder="reservation" [(ngModel)]="inputPrix" style="display: none;">
              </div>
             <div style="height: 10px;"></div>
              <div *ngIf="table.active" >
              <button id="delete" style="background-color: rgb(0, 0, 0);" class='btn-block' (click)="delete(table.id)"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 4vw;"></fa-icon></button>
          </div>
          <div *ngIf="!table.active" >
              <button id="activate" style="background-color: rgba(0, 0, 0, 0.582);" class='btn-block' (click)="activate(table.id)"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
          </div>
          </div>
            <br>
            <br>
          </div>
          
  
  </div>
  <!-- <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
          <li *ngIf='page>0' class="page-item disabled">
              <button style="background-color: white;" class="btn page" (click)="pagination('precedent')">Précédent</button>
          </li>
          <li class="page-item"> <div *ngIf='tables.length>2' class="btn" style="background-color: rgb(0, 0, 0); color: white;">Page {{page+1}}</div></li>
          <li class="page-item disabled">
              <button *ngIf='tables.length>2 &&tables2.length>0' style="background-color: white;"class="btn page" (click)="pagination('suivant')">Suivant</button>
          </li>
      </ul>
  </nav> -->
  </div>
  <div class="col-1"></div>
  </div>
</div>


