<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="id02" class="container-fluid animate">
    <div  id="top" class="sticky text-center" >
        <div class="col-3 align-self-center">
            <div  id="myModal" class="modal">

                <div class="modal-content">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/bieres"> <fa-icon  class="fa icon topButton" [icon]="faBeer" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/tables"> <fa-icon  class="fa icon topButton" [icon]="faTable" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/cours"> <fa-icon  class="fa icon topButton" [icon]="faCourse" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/users"> <fa-icon  class="fa icon topButton" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/business"> <fa-icon  class="fa icon topButton" [icon]="faBusiness" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion"> <fa-icon  class="fa icon topButton" [icon]="faTools" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3"></div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/boutique"> <fa-icon  class="fa icon topButton" [icon]="faHome" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3"> </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                </div>
                </div>
            </div>
              
              </div>
            
            </div>
        <div  class="row">
            <div class="col-3">
            </div>

            <div  class="col-6">
                <img id="img" src="assets/logo1.jpg" height="280" width="350">
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-9"></div>
                    <div  class="col-3 text-left">
                        <button style="background-color: transparent;" class='btn-block topButton1' (click)='damier()'> <fa-icon class="fa icon topButton" [icon]="faDamier" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 align-self-center">
                        <button id="create" style="background-color: transparent;border-radius: 8px;" class='btn-block' routerLink="/gestion"> <fa-icon id="return" class="fa icon topButton" [icon]="faReply" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button>
            </div>
            <div class="col-6 align-self-center">

                        <h2 id="title" *ngIf="!noActive&&!active">Gestion Cours Brassage</h2>

                    </div>
                    
        </div>
    </div>

<div id="build"></div> 
</div>
