#build{
    height: 600px;
    width: 100%;
    background-image: url("~src/assets/cours.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

#top{

  background-color: black; 
  color: white; 
   position: sticky; 
  top: 0;
  z-index:10;
  transition: 0.4s;
}


#id02{
  background-color: rgb(255, 255, 255); 
  padding-right: 0px; 
  padding-left: 0px;
}

#h2{
font-family: Nova Cut;
}
#title{
font-family: Nova Cut;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(255, 196, 0) 0px 0px 20px, rgb(255, 196, 0) 0px 0px 30px, rgb(255, 196, 0) 0px 0px 40px, rgb(255, 196, 0) 0px 0px 50px, rgb(255, 196, 0) 0px 0px 75px, 2px 2px 2px rgba(206,161,25,0);
}
@media (min-width: 1291px) {
#biereImg{
width: 200px;
height: 200px;
}
}

@media (max-width: 1290px) {
#biereImg{
  width: 100px;
  height: 100px;
}


}

@media (max-width: 969px) {
#h2{
  font-size: 1.5vw;
}
}

#myModal {
overflow-x: hidden!important;
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 69%;
top: 10%;
width: 30%; /* Full width */
height: 40%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: transparent
}
.modal-content{
background-color: rgba(128, 128, 128, 0.739);
border-radius: 8px 8px 8px 8px!important; 
}

#myModal1 {

left: 12%;
width: 80%; /* Full width */
overflow: auto; /* Enable scroll if needed */

}

.topButton1:hover{
background-color: rgb(31, 31, 31) !important;

}
.topButton:hover{
transition: 0.6s;
color: rgb(255, 196, 0) !important;

}
.topButton1{
  border-radius: 200px 200px 200px 200px;
}

.btn-block{
  outline: none;
  border: none;
  
}