h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

b {
    color: black;
    text-align: center;
}

div {
    text-align: center;
}

input {
    border: blue;
    border-radius: 10px 100px / 120px;
    border: 1px solid black;
    text-align: center;
}

input:focus, input:active {
    background: rgb(255, 196, 0);
    text-decoration: none;
    color: #000000;
    outline: none;
    border: 1px solid black;
}

select {
    border: blue;
    border-radius: 10px 100px / 120px;
    outline: none;
    border: 1px solid black;
}

button {
    border-radius: 20px;
}

#waka {
    border-radius: 20px;
}