<div class="side-form">
  <form id='form' (ngSubmit)="onSubmitUtil()" style="border:1px solid #ccc">
    <div id="waka" class="container">
      <div style="text-align:center">
        <label>
          <input type="file" (change)="selectFile($event)"multiple>
          </label>
      </div>
      <hr>
      <div class="row">
        <div class="col-4">
          <label for="nom"><b>nom</b></label>
          <p></p>
          <input type="text" placeholder="nom" name="nom" required [(ngModel)]="biere.nom">
        </div>
        <div class="col-4">
          <label for="description"><b>description</b></label>
          <p></p>
          <input type="text" placeholder="description" name="description" required [(ngModel)]="biere.description">
        </div>
        <div class="col-4">
          <label for="degre"><b>degre</b></label>
          <p></p>
          <input type="number" name="degre" required [(ngModel)]="biere.degre">
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-4">
          <label for="quantite"><b>quantite</b></label>
          <p></p>
          <input type="number" placeholder="quantite" name="quantite" required [(ngModel)]="biere.quantite">
        </div>
        <div class="col-4">
          <label for="prix"><b>prix</b></label>
          <p></p>
          <input type="number" placeholder="prix" name="prix" required [(ngModel)]="biere.prix">
        </div>
        <div class="col-4">
          <label for="typeDeBiere"><b>Type de biere</b></label>
          <p></p>
          <select class="search_box" id="typeDeBiere" name="typeDeBiere" required [(ngModel)]="biere.typeDeBiereDto.id">
            <option *ngFor="let type of typedebieres" value="{{type.id}}">{{type.nom}}</option>
          </select>
        </div>
      </div>
      <p></p>
      <p>
        <hr>
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-6">
            <div class="clearfix">
              <button type="submit" style="width:100%" class="btn" style="background-color: rgb(255, 196, 0);">Valider la biere</button>
            </div>
          </div>
          <div class="col-3">
          </div>
        </div>
        <p></p>
        <hr>
        
    </div>
  </form>
</div>