<div class="side-form">
  <form id='form' (ngSubmit)="onSubmitUtil()" style="border:1px solid #ccc">
    <div id="waka" class="container">
     
      <div class="row">
        <div class="col-4">
          <label for="nom"><b>nom</b></label>
          <p></p>
          <input type="text" placeholder="Nom" name="nom" required [(ngModel)]="utilisateur.nom">
        </div>
        <div class="col-4">
          <label for="description"><b>Prenom</b></label>
          <p></p>
          <input type="text" placeholder="Prénom" name="prenom" required [(ngModel)]="utilisateur.prenom">
        </div>
        <div class="col-4">
          <label for="degre"><b>Date de Naissance</b></label>
          <p></p>
          <input type="date" name="date" required [(ngModel)]="utilisateur.dateAge">
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-4">
          <label for="quantite"><b>Adresse Mail</b></label>
          <p></p>
          <input type="text" placeholder="Email" name="email" required [(ngModel)]="utilisateur.adresseMail">
        </div>
        <div class="col-4">
          <label for="prix"><b>UserName</b></label>
          <p></p>
          <input type="text" placeholder="Nom d'utilisateur" name="username" required [(ngModel)]="utilisateur.username">
        </div>
        <div class="col-4">
          <label for="typeDeBiere"><b>Role</b></label>
          <p></p>
          <select id="role" name="role" required [(ngModel)]="utilisateur.role.id"
          class="border border-right-0 border-left-0 border-top-0">
          <option *ngFor="let role of roles" value="{{role.id}}">{{role.nom}}</option>
        </select>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-2">
          
        </div>
        <div class="col-4">
          <label for="typeDeBiere"><b>Mot de Passe</b></label>
          <p></p>
          <input type="password" placeholder="********" name="psw" required [(ngModel)]="utilisateur.password">
        </div>
        <div class="col-4">
          <label for="typeDeBiere"><b>Confirmation Mot de Passe</b></label>
          <p></p>
          <input type="password" placeholder="********" name="psw-repeat" required>
        </div>
        <div class="col-2">
        </div>
      </div>
      <p></p>
      <p>
        <hr>
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-6">
            <div class="clearfix">
              <button type="submit" style="width:100%" class="btn" style="background-color: rgb(255, 196, 0);">Valider l'utilisateur</button>
            </div>
          </div>
          <div class="col-3">
          </div>
        </div>
        <p></p>
        <hr>
        
    </div>
  </form>
</div>