

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frijole">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="id02" class="container-fluid animate">
  <div  id="top" class="sticky text-center" >
    <div class="col-3 align-self-center">
        <div  id="myModal" class="modal">

          <div class="modal-content">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
          <div class="row">
            <div class="col-1"></div>
              <div class="col-3">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/bieres"> <fa-icon  class="fa icon topButton" [icon]="faBeer" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/tables"> <fa-icon  class="fa icon topButton" [icon]="faTable" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/cours"> <fa-icon  class="fa icon topButton" [icon]="faCourse" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-1"></div>
              <div class="col-3">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/users"> <fa-icon  class="fa icon topButton" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/business"> <fa-icon  class="fa icon topButton" [icon]="faBusiness" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion"> <fa-icon  class="fa icon topButton" [icon]="faTools" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-1"></div>
          </div>
              <br>
              <div class="row">
                <div class="col-1"></div>
                  <div class="col-3"></div>
                  <div class="col-3">
                    <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/boutique"> <fa-icon  class="fa icon topButton" [icon]="faHome" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                  </div>
                  <div class="col-3"> </div>
                  <div class="col-1"></div>
              </div>
              <br>
            </div>
            </div>
        </div>
          
          </div>
        
        </div>
    <div  class="row">
        <div class="col-3">
        </div>

        <div class="col-6">
            <img id="img" src="assets/logo1.jpg" height="280" width="350">
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-9"></div>
                <div  class="col-3 text-left">
                    <button style="background-color: transparent;" class='btn-block topButton1' (click)='damier()'> <fa-icon class="fa icon topButton" [icon]="faDamier" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 align-self-center">
                    <button id="create" style="background-color: transparent;border-radius: 8px;" class='btn-block' routerLink="/gestion/users"> <fa-icon id="return" class="fa icon topButton" [icon]="faReply" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button>
        </div>
        <div *ngIf='utilisateur!=undefined' class="col-6 align-self-center">
                    <h1 id="h2" style="text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(255, 196, 0) 0px 0px 20px, rgb(255, 196, 0) 0px 0px 30px, rgb(255, 196, 0) 0px 0px 40px, rgb(255, 196, 0) 0px 0px 50px, rgb(255, 196, 0) 0px 0px 75px, 2px 2px 2px rgba(206,161,25,0);">{{utilisateur.username}}</h1>
                    
                </div>
                
    </div>
</div>
<br>
<br>

<div class="row" *ngIf='utilisateur!=undefined'  >
  <div class="col-3"></div>
<input id="fileInput" type="file"  (change)="selectFile($event)" style="display: none;"/>
<div data-aos="fade-right" class="col-6 text-center" style=" border: solid; border-radius: 8px;" id="button" >
  <fa-icon *ngIf='utilisateur.role.id==2&&utilisateur.actif' class="fa icon topButton" [icon]="faAdmin" style="color: rgb(255, 196, 0); font-size: 10vw;"></fa-icon>
  <fa-icon *ngIf='utilisateur.role.id==2&&!utilisateur.actif' class="fa icon topButton" [icon]="faAdmin" style="color: rgba(10, 10, 10, 0.582); font-size: 10vw;"></fa-icon>
  <fa-icon *ngIf='utilisateur.role.id!=2&&utilisateur.actif' class="fa icon topButton" [icon]="faUser1" style="color: rgb(255, 196, 0); font-size: 10vw;"></fa-icon>
  <fa-icon *ngIf='utilisateur.role.id!=2&&!utilisateur.actif' class="fa icon topButton" [icon]="faUser1" style="color: rgba(10, 10, 10, 0.582); font-size: 10vw;"></fa-icon>
  </div>

<div class="col-3"></div>


</div>

<hr>
<br>
<div class="row" *ngIf='utilisateur!=undefined'>
  <div class="col-3"></div>
  <div  style="font-family: frijole;" *ngIf='utilisateur.actif' class="col-6 text-center">
   <button class="btn" (click)='activer("desactiver")'>Desactiver</button>
  </div>
  <div style="font-family: frijole;" *ngIf='!utilisateur.actif' class="col-6 text-center">
    <button class="btn" style="color: rgb(255, 196, 0);" (click)='activer("activer")'>Activer</button>
  </div>
  <div class="col-3"></div>
 <div style="height: 150px;"></div>

</div>
    <div class="row">
      <div class="col-2 "></div>

    <div class="col-8 text-left ">
      <table *ngIf="utilisateur!=undefined" class="table-borderless ">
        <tbody>
          <tr (click)='edit("id")'>
            <th scope="row">Id :</th>
            <td id="idB">{{utilisateur.id}}</td>
          </tr>
          <tr (click)='edit("nom")'>
            <th scope="row">Nom :</th>
            <td id="idN">{{utilisateur.nom}}</td>
            <td id="inputNom" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="text" class="form-control"  placeholder="Nom de l'utilisateur" (keyup)="inputNom($event)"  [(ngModel)]="utilisateur.nom"></td>
          </tr>
          <tr (click)='edit("reservation")'>
            <th scope="row">Prénom:</th>
            <td id="idQ">{{utilisateur.prenom}}</td>
            <td id="inputQuantite" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="text" class="form-control"  placeholder="reservation" (keyup)="inputQuantite($event)"  [(ngModel)]="utilisateur.prenom"></td>
          </tr>
          <tr (click)='edit("description")'>
            <th scope="row text-center">Username :</th>
            <td id="idD">{{utilisateur.username}}</td>
            <td id="inputDescription" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="text" class="form-control"  placeholder="Username de l'utilisateur" (keyup)="inputDescription($event)"  [(ngModel)]="utilisateur.username"></td>
          </tr>
          <tr (click)='edit("mail")'>
            <th scope="row">Mail :</th>
            <td id="idM">{{utilisateur.adresseMail}}</td>
            <td id="inputMail" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="text" class="form-control"  placeholder="Nom de l'utilisateur" (keyup)="inputMail($event)"  [(ngModel)]="utilisateur.adresseMail"></td>
          </tr>
          
          <tr (click)='edit("capacite")'>
            <th scope="row">Date de Naissance:</th>
            <td id="idDe">{{dateAge}} </td>
            <td id="inputDegre" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="date"  class="form-control"  placeholder="capacité" (keyup)="inputDegre($event)"  [(ngModel)]="utilisateur.dateAge"></td>
          </tr>
          <tr (click)='edit("password")'>
            <th scope="row">Reset Mot de Passe:</th>
           
            <td id="inputPassword" style=" margin-top: 2%;"><button id="Bpass" style="text-align: right; " class="btn" (click)="resetPassword()"><fa-icon id="return" class="fa icon topButton" [icon]="faPass" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button></td>
           
          
        </tbody>
      </table>
    </div>
    <div class="col-2 " style="font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Frijole;">
        <div class="row" style="height: 345px;"></div>
       <!-- <div *ngIf='resaAdmin'>{{reservant.username}}</div>  -->
    </div>
    
  </div>
  <div class="row" style="height: 20px;"></div>
  <div class="row" style="background-color: rgb(255, 255, 255);">
<div class="col-4"></div>
<div class="col-4 text-center">
  <button *ngIf='!supprimable' class="btn btn-block" style="background-color: rgb(0, 0, 0);" (click)='supprimer()'><fa-icon class="fa icon" [icon]="faTrash" style="color: rgb(255, 196, 0); font-size: 4vw;"></fa-icon></button>
</div>
<div class="col-4"></div>
  </div>
  <div class="row" style="height: 20px;"></div>

  
  </div>
