#premiere {
    height: 900px;
    background-color: transparent;
}

#sec {
    height: 90%;
    width: 20%;
    background-image: url("~src/assets/tap.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
}

#sec2 {
    background-image: url("~src/assets/distill.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
}

#sec2:hover {
    transition: 4s;
    background-image: url("~src/assets/distill2.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
}

#quote {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.822);
    background-color: rgb(0, 0, 0);
    width: 50%;
    margin-bottom: 10%;
    margin-left: 5%;
    border-radius: 50px 20px 50px 20px;
}

#quote :nth-child(1) {
    color: rgba(209, 206, 26, 0.699);
    font-family: Indie Flower;
    padding-left: 8%;
}

#quote :nth-child(2) {
    color: rgba(209, 206, 26, 0.699);
    font-family: Indie Flower;
    padding-left: 5%;
}

#seconde {
    margin-top: 30%;
    width: 70%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.822);
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 0px 20px 20px 0px;
    background-size: contain;
}

#beerDiv {
    background-color: transparent;
    padding-bottom: 10px;
}

#beerOne {
    background-color: transparent;
    font-size: 6vw;
    margin-left: 30%;
    animation: blinkingText 3s infinite;
}

@keyframes blinkingText {
    0% {
        color: rgb(255, 255, 255);
    }
    25% {
        color: rgb(255, 255, 255);
    }
    49% {
        color: rgb(255, 255, 255);
    }
    60% {
        color: rgb(179, 168, 17);
    }
    99% {
        color: rgb(179, 168, 17);
    }
    100% {
        color: rgb(179, 168, 17);
    }
}

#seconde :nth-child(1) {
    font-size: 1.87vw;
    padding-top: 5%;
    padding-left: 23%;
}

#seconde :nth-child(2) {
    font-size: 1.87vw;
    padding-left: 18%;
}

#seconde :nth-child(3) {
    font-size: 1.87vw;
    padding-left: 5%;
}

#seconde :nth-child(4) {
    font-size: 2.2vw;
    padding-top: 5%;
    color: rgb(209, 151, 26);
    font-family: Indie Flower;
    padding-left: 15%;
    border-top-width: 30px;
}

#seconde :nth-child(4):hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: rgb(209, 151, 26);
}

#seconde :nth-child(5) {
    font-size: 2.2vw;
    padding-left: 25%;
    border-top-width: 30px;
}

#seconde :nth-child(5):hover {
    color: rgb(205, 190, 50);
}

#seconde :nth-child(6) {
    font-size: 2.2vw;
    padding-left: 28%;
}

#seconde :nth-child(6):hover {
    color: rgb(205, 190, 50);
}

#seconde :nth-child(7) {
    font-size: 2.2vw;
    padding-left: 19%;
}

#seconde :nth-child(7):hover {
    color: rgb(205, 190, 50);
}

#seconde :nth-child(8) {
    font-size: 2.2vw;
    padding-left: 28%;
}

#seconde :nth-child(8):hover {
    color: rgb(205, 190, 50);
}

#seconde :nth-child(9) {
    font-size: 2.2vw;
    padding-left: 32%;
}

#seconde :nth-child(9):hover {
    color: rgb(205, 190, 50);
}

#seconde :nth-child(10) {
    font-size: 2.2vw;
    padding-left: 28%;
}

#seconde :nth-child(10):hover {
    color: rgb(205, 190, 50);
}

#third {
    background-position: center;
    background-color: transparent;
    height: 520px;
}

#quote1 {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.822);
    background-color: rgb(0, 0, 0);
    width: 45%;
    margin-bottom: 10%;
    margin-left: 5%;
    border-radius: 50px 20px 50px 20px;
}

#quote1 :nth-child(1) {
    color: rgba(209, 206, 26, 0.699);
    font-family: Indie Flower;
    padding-left: 8%;
}

#quote1 :nth-child(2) {
    color: rgba(209, 206, 26, 0.699);
    font-family: Indie Flower;
    padding-left: 5%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Bungee;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: fantasy;
}

#text {
    background-color: transparent;
    margin: auto;
    padding-top: 13px;
    padding-bottom: 10px;
    width: 100%;
}

#text2 {
    background-color: transparent;
    margin: auto;
    font-style: italic;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 10%;
    width: 100%;
}

#text2 h1:hover {
    transition: 3s;
    color: rgba(196, 183, 5, 0.918);
}

#titre {
    background-color: rgb(243, 238, 227);
    font-style: italic;
    padding-left: 17% !important;
}

#text h1 {
    background-color: transparent;
    font-style: italic;
    padding-left: 17%;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#text h1:hover {
    transition: 3s;
    color: rgba(196, 183, 5, 0.918);
}

#titre {
    background-color: rgb(243, 238, 227);
    font-style: italic;
    padding-left: 17% !important;
}

#text1 {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

#text1 h5 {
    background-color: transparent!important;
    padding-top: 3px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: fantasy;
    color: whitesmoke;
}

#reservation {
    margin-top: 5%;
    margin-left: 10%;
    width: 70%;
    background-color: transparent;
    border-radius: 0px 20px 20px 0px;
}

#reservation :nth-child(1) {
    font-size: 2.3vw;
    padding-top: 3%;
    padding-left: 20%;
}

#reservation :nth-child(2) {
    font-size: 2.3vw;
    padding-left: 7%;
}

#reservation h5 {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 5%;
    margin-bottom: 0px;
    font-family: fantasy;
    color: whitesmoke;
    font-size: 1.87vw;
}

#fourth {
    background-position: center;
    background-color: transparent;
    height: 520px;
}

#sec3 {
    background-image: url("~src/assets/facade.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
}

#boutique {
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
    background-color: transparent;
    border-radius: 0px 20px 20px 0px;
}

#boutique :nth-child(1) {
    font-size: 2.3vw;
    padding-top: 2%;
    padding-left: 12%;
}

#boutique :nth-child(2) {
    font-size: 2.3vw;
    padding-left: 30%;
}

#boutique :nth-child(3) {
    font-size: 2.3vw;
    padding-left: 22%;
}

#boutique h5 {
    font-size: 1.87vw;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 5%;
    margin-bottom: 0px;
    font-family: fantasy;
    color: whitesmoke;
}

.btn-warning {
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 50px;
    margin-top: 20px;
}

#fifth {
    background-position: center;
    background-color: transparent;
    height: 520px;
}

#text3 {
    background-color: transparent;
    margin: auto;
    font-style: italic;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 13%;
    width: 100%;
}

@media (max-width: 1920px) {
    #fifth {
        height: 550px;
    }
    #text3 h1 {
        margin-top: 30px;
    }
}

#text3 h1:hover {
    transition: 3s;
    color: rgba(196, 183, 5, 0.918);
}

#sec4 {
    background-image: url("~src/assets/terrace.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
}

#table {
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
    background-color: transparent;
    border-radius: 0px 20px 20px 0px;
}

#table :nth-child(1) {
    font-size: 2.3vw;
    padding-top: 2%;
    padding-left: 12%;
}

#table :nth-child(2) {
    font-size: 2.3vw;
    padding-left: 28%;
}

#table :nth-child(3) {
    font-size: 2.3vw;
    padding-left: 10%;
}

#table h5 {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 3%;
    margin-bottom: 0px;
    font-family: fantasy;
    color: whitesmoke;
    font-size: 1.87vw;
}

.btn-warning {
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 50px;
    margin-top: 20px;
}

#container {

    background-color: black;
}
