<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie Flower">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
<div data-aos="fade-up" id='container' class="grid-container">
    <app-topnavbar id="headerID"></app-topnavbar>
    <div id="text1">
        <h5 id="titre"><b>Une bière peut être jugée dès la première gorgée, cependant mieux vaut être complètement sur
                !!!</b></h5>
    </div>
    <div data-aos="fade-up" id=beerDiv>
        <h1 id="beerOne">Au Beer One</h1>
    </div>
    <div class="row" id="premiere">
        <div data-aos="fade-up" data-aos-duration="2000" class="col-7" id="sec">
        </div>
        <div class="col-sm">
            <div data-aos="fade-left" data-aos-duration="2000" id="seconde">
                <h4>Avis aux Amateurs,</h4>
                <h4>avis aux Connaisseurs,</h4>
                <h4>La maison a ouvert ses portes.</h4>
                <h3>Horaires d'ouverture:</h3>
                <h4>Lundi au jeudi </h4>
                <h4>14h00 0h00</h4>
                <h4>Vendredi et Samedi</h4>
                <h4>14h00 02h00</h4>
                <h4>Dimanche</h4>
                <h4>16h00 22h00</h4>
            </div>
        </div>
        <div data-aos="fade-right" id="quote">
            <h4>Boire une Bière est donné à tout le monde.... </h4>
            <h4> Mais il requiert du savoir pour l'apprécier </h4>
        </div>
    </div>

    <div data-aos="fade-left" id="text">
        <br>
        <h1>Brasser sa bière, c’est possible !</h1>
        <br>
    </div>
    <div data-aos="fade-up" class="row" id="third">
        <div data-aos="fade-up" class="col-7" id="sec2">
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-sm">
            <div id="reservation">
                <h1>Qui veut brasser </h1>
                <h1>du houblon ?</h1>
                <button type="button" class="btn btn-warning" routerLink="/cours">Reserver maintenant</button>
                <h5>Participez à nos ateliers Brasserie</h5>
                <h5>En compagnie de notre Brasseur</h5>
                <h5>Repartez avec votre propre bière</h5>
            </div>
        </div>
        <div data-aos="fade-right" id='quote1'>
            <h4>Les amis apportent de la joie dans votre vie, </h4>
            <h4>les meilleurs amis apportent de la bière </h4>

        </div>
    </div>
    <div data-aos="fade-left" id="text2">
        <br>
        <h1>Commander sa Bière, c’est possible aussi !</h1>
        <br>
    </div>
    <div data-aos="fade-up" class="row" id="fourth">
        <div data-aos="fade-up" class="col-7" id="sec3">
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-sm">
            <div id="boutique">
                <h1>La caverne </h1>
                <h1>d'Ali </h1>
                <h1>Bebière</h1>
                <button type="button" class="btn btn-warning" routerLink="/boutique">Découvrir </button>
                <h5>une selection des meilleures bieres du monde vous attend a l'intérieur </h5>
            </div>
        </div>
        <div data-aos="fade-right" id='quote1'>
            <h4>Arretez d'essayer de rendre tout le monde heureux, </h4>
            <h4>vous n'êtes pas une bière </h4>

        </div>
    </div>

    <div data-aos="fade-left" id="text3">
        <br>
        <h1>Reserver un petit coin de paradis !</h1>
        <br>
    </div>
    <div class="row" id="fifth">
        <div data-aos="fade-up" class="col-7" id="sec4">
        </div>
        <div class="col-sm">
            <div data-aos="fade-left" data-aos-duration="2000" id="table">
                <h1>Votre table </h1>
                <h1>à votre </h1>
                <h1>disposition</h1>
                <button type="button" class="btn btn-warning" routerLink="/table">Découvrir </button>
                <h5>Réserver votre bonheur pour la soirée</h5>
            </div>
        </div>
        <div data-aos="fade-right" id='quote1'>
            <h4>Plus vous pesez, plus c'est dur de vous kidnapper </h4>
            <h4>Rester en sécurité, buvez de la bière </h4>

        </div>
    </div>
    
</div>
