<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="id104" class="modal container-fluid" style="margin-top: 80px;">
    <form name="myForm" method="post">
      <div class="container-fluid">
        <div class="row">
          <div class="well center-block bg-light">
            <div class="well-header">
              <h3 class="text-center" style="font-family: Piedra;"> Verification Age </h3>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="input-group mb-4">
                  <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                    <div class="input-group-text bg-success">
                      <fa-icon class="icon color" [icon]="faUser"></fa-icon>
                    </div>
                    <input type="date" name="txtfname" class="form-control" required [(ngModel)]="date">
                  </div>
                </div>
              </div>
            </div>
            <div class="row widget">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <button class="btn btn-block" (click)="CalculateAge()" style="background-color: rgb(0, 0, 0);">
                  <b style="font-family: Piedra; color: rgb(255, 196, 0);">Verification </b></button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </form>

</div>