

.well {
    padding: 35px;
    padding-left: 30px;
    box-shadow: 0 0 10px rgb(255,196,0);
    margin: 4% auto 0;
    width: 450px;
    border-radius: 2%;
  }
  
  
  
  .bg-success{
    background-color: rgb(0, 0, 0)!important;
  }
  
  .color {
    color: rgb(255,196,0);
  }
  
  .form-control {
    border-color: rgb(0, 0, 0);
  }
  
  .form-control:focus {
    color: rgb(0, 0, 0) !important;
    -moz-box-shadow: 8px 8px 12px rgb(255,196,0);
    -webkit-box-shadow: 8px 8px 12px rgb(255,196,0);
    box-shadow: 2px 2px 4px rgb(255,196,0);
  }
  
  /* Add Zoom Animation */
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  