<div class='container-fluid'id="id02">
    <app-topnavbar id="top"></app-topnavbar>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div data-aos="fade-down" class="form-group col">
            <label>Mot de passe</label>
            <input id="pwdRecup" type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="utilisateur.password" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
                <div *ngIf="f.password.errors.minlength">Il faut au moins 8 caractères</div>
                <div *ngIf="f.password.errors.minlength">Il faut moins de 255 caractères</div>
                <div *ngIf="f.password.errors.pattern">
                    Les mots de passe sont différents <br>
                    Il faut au moins : <br>
                    - 8 caractères <br>
                    - 1 chiffre, <br>
                    - 1 minuscule (a-z), <br>
                    - 1 majuscule (A-Z)
                </div>
            </div>
        </div>
        <div data-aos="fade-down" class="form-group col">
            <label>confirmation de mot de passe</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">La confirmation de votre mot de passe est obligatoire.
                </div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Les deux mots de passe ne concorde pas.</div>
                <div *ngIf="f.password.errors.pattern">
                    Les mots de passe sont différents <br>
                    Il faut au moins : <br>
                    - 8 caractères <br>
                    - 1 chiffre, <br>
                    - 1 minuscule (a-z), <br>
                    - 1 majuscule (A-Z)
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" class="text-center">
        <button class="btn btn-primary mr-1">Modifier</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
    </div>
</form>
</div>
