<div class='container-fluid'id="id02">
  <app-topnavbar id="top"></app-topnavbar>
  <br>
<div class="row">
  <div id="info" class="col 6">
<app-gestion-mon-compte-detail [idParent]="'vueDetail'" ></app-gestion-mon-compte-detail>
</div>
<div class="col 6" id="edit" data-aos="fade-left" [hidden]="submitted" style="width: 400px;" style="display: none;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom"><h4>Nom</h4></label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="utilisateur.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="prenom"><h4>Prenom</h4></label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="utilisateur.prenom" name="prenom">
    </div>
    <div class="form-group">
      <label for="username"><h4>Username</h4></label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="utilisateur.username" name="username">
    </div>
    <div class="form-group">
      <label for="adresseMail"><h4>Adresse Mail</h4></label>
      <input type="text" class="form-control" id="adresseMail" required [(ngModel)]="utilisateur.adresseMail"
        name="adresseMail">
    </div>
    <div class="form-group">
      <label for="reservation"><h4>Reservation</h4></label>
      <select class="custom-select my-1 mr-sm-2" required [(ngModel)]="utilisateur.reservation" name="reservation">
        <option selected *ngIf="utilisateur.reservation" value="{{utilisateur.reservation}}">réservation en cours
        </option>
        <option selected *ngIf="!utilisateur.reservation" value="{{utilisateur.reservation}}">aucune réservation en
          cours</option>
        <option *ngIf="utilisateur.reservation" value="{{!utilisateur.reservation}}">annuler la reservation </option>
      </select>
    </div>
  </form>
</div>
<div class="col 2">
  <div class="row">
  <div class="col 6"></div>
  <div class="col 6">
  <button id="btnValid" style="background-color: rgb(1, 124, 1);display: none; margin-top: 50%;" class='btn-block' (click)="onSubmit()"> <fa-icon class="fa icon" [icon]="faCheck" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
  <button id="btnEdit" style="background-color: orange; margin-top: 50%;" class='btn-block' (click)="edit()"> <fa-icon class="fa icon" [icon]="faEdit" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
</div>
</div>
<div class="row">
  <div class="col 6"></div>
  <div class="col 6">
  <button id="btnEdit" style="background-color: rgb(201, 0, 0); margin-top: 10%; margin-left: 60%;" class='btn-block' (click)="delete()"> <fa-icon class="fa icon" [icon]="faTrash" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
 
</div>
</div>
</div>
<div class="col 2">
  <div class="row">
  <div class="col 6">
    <button style="background-color: rgb(0, 76, 255); margin-top: 50%;" class='btn-block' routerLink="/mon-compte"> <fa-icon class="fa icon" [icon]="faDoor" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
  </div>
  <div class="col 6"></div>
</div>
</div>

</div>



