.btn-block:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

.btn-block{
    border-radius: 8px 8px 8px 8px;
    outline: none;
    border: none;
   
}
#id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
}

#myModal1 {
    overflow-x: hidden!important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 69%;
    top: 10%;
    width: 30%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent
  }

