<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div  id="myModal1" class="modal">

    <div  id='modalContent' class="modal-content">
        <button style="background-color: transparent;border-radius: 8px;" class='btn-block' (click)='create()'> <fa-icon id="iClose" class="fa icon topButton" [icon]="faClose" style="color: rgb(255, 196, 0);; font-size: 4vw;"></fa-icon></button>
        <app-biere-create (parent)="emit($event)" ></app-biere-create>
</div>
  
  </div>
<div id="id02" class="container-fluid animate">
    <div  id="top" class="sticky text-center" >
        <div class="col-3 align-self-center">
            <div  id="myModal" class="modal">

                <div class="modal-content">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/bieres"> <fa-icon  class="fa icon topButton" [icon]="faBeer" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/tables"> <fa-icon  class="fa icon topButton" [icon]="faTable" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/cours"> <fa-icon  class="fa icon topButton" [icon]="faCourse" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/users"> <fa-icon  class="fa icon topButton" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/business"> <fa-icon  class="fa icon topButton" [icon]="faBusiness" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3">
                        <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion"> <fa-icon  class="fa icon topButton" [icon]="faTools" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-1"></div>
                      <div class="col-3"></div>
                      <div class="col-3">
                        <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/boutique"> <fa-icon  class="fa icon topButton" [icon]="faHome" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                      </div>
                      <div class="col-3"> </div>
                      <div class="col-1"></div>
                  </div>
                  <br>
                </div>
                </div>
            </div>
              
              </div>
            
            </div>
        <div  class="row">
            <div class="col-3">
            </div>

            <div  class="col-6">
                <img id="img" src="assets/logo1.jpg" height="280" width="350">
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-9"></div>
                    <div  class="col-3 text-left">
                        <button style="background-color: transparent;" class='btn-block topButton1' (click)='damier()'> <fa-icon class="fa icon topButton" [icon]="faDamier" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 align-self-center">
                        <button id="create" style="background-color: transparent;border-radius: 8px;" class='btn-block' routerLink="/gestion"> <fa-icon id="return" class="fa icon topButton" [icon]="faReply" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button>
            </div>
            <div class="col-6 align-self-center">
                        <h2 id="title" *ngIf="noActive">Bières Desactivées</h2>
                        <h2 id="title" *ngIf="!noActive&&!active">Toutes les Bières</h2>
                        <h2 id="title" *ngIf="active" >Bières Actives</h2>
                    </div>
                    
        </div>
    </div>
    <br>
    <br>
    <div class=" text-center" >
        <div  class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block' (click)='create()'> <fa-icon id="iCreate" class="fa icon topButton" [icon]="faPlusCircle" style="color: black; font-size: 4vw;"></fa-icon></button>
            </div>
        </div>
    </div>
    
    
    <br>
    <br>
    <br>
    <br>
    <div  *ngIf='bieres.length>0' class="row">
        <div class="col-8"></div>
        <div class="col-4 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Trier Par
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="sort('nom')"><p id="h2">Nom</p></a>
                  <a class="dropdown-item" (click)="sort('prix')"><p id="h2">Prix</p></a>
                  <a class="dropdown-item" (click)="sort('quantite')"><p id="h2">Quantite</p></a>
                  <a class="dropdown-item" (click)="sort('degre')"><p id="h2">Degre</p></a>
                  <!-- <a class="dropdown-item" (click)="sort('type')">Type</a> -->
                </div>
              </div>

        </div>
    </div>
    <br>
    

<div class="row" >
<div id="panel" class="col-3"style="box-shadow: 6px -1px 12px -10px rgba(0,0,0,0.75);" >
    <div></div>
    <br>
    <div style=" padding-left: 15px;">
    <p style="font-weight: bold; font-family: Luxe;">FILTRES</p>
</div>
<br>
<br>

<div id="option">
    <div class="row">
        <div class="col-2">
            <button style="background-color: transparent;" class='btn-block'> <fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 1.5vw;"></fa-icon></button>
        </div>
        <div id="search" class="col-9" >
        <input style="text-align: center;  border: none; background-color:transparent; color: white;" type="text" class="form-control" id="prixMin" placeholder="ex: Karmeliet, Duvel" (keyup)="findbyname()" [(ngModel)]="recherche">
    </div>
    <div class="col-1"></div>
    </div>
</div>
<br>
<br>



<div id="option">
    <div class="row">
        <div class="col-8 align-self-center " >
            <p id="h2" style="font-weight: bold;">Statut</p>
        </div>
        <br>
        <div class="col-4"> 
    </div>
    </div>
    <div class="row">
        <div class="col-8 align-self-center " >
            <p id="h2">Bieres Actives</p>
        </div>
        <div class="col-4">
            <div id="actOn"style="display: none;">
                <button style="background-color: transparent;" class='btn-block' (click)="activeB()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="ActOff" >
            <button style="background-color: transparent;" class='btn-block' (click)="activeB()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-8 align-self-center" >
            <p id="h2">Bieres Désactivées</p>
        </div>
        <div class="col-4">
            <div id="noActOn"style="display: none;">
                <button style="background-color: transparent;" class='btn-block' (click)="nonActive()"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="noActOff">
            <button style="background-color: transparent;" class='btn-block' (click)="nonActive()"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
    </div>
</div>
<br>
<br>
<div id="option">
    <div class="row">
        <div class="col-8 align-self-center " >
            <p id="h2" style="font-weight: bold;">Prix</p>
        </div>
        <br>
        <div class="col-4"> 
    </div>
    </div>
    <div class="row">
        <div class="col-6 align-self-center" >
            <input style="text-align: center;" type="number" step=".01" class="form-control" id="prixMin" placeholder="0 €" (keyup)="minimumInput($event)" [(ngModel)]="prixMin">
        </div>
        <div class="col-6 align-self-center">
            <input style="text-align: center;" type="number" step=".01" class="form-control" id="prixMax" placeholder="20 €" (keyup)="maximumInput($event)"  [(ngModel)]="prixMax">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <input class="form-control"  (change)="sliderMin($event)" type="range" step=".01" id="rangeMin" min="0" max="20" [(ngModel)]="prixMin">
        </div>
        <div class="col-6">
            <input class="form-control"  (change)="sliderMax($event)" type="range" step=".01" id="rangeMax" min="0" max="20" [(ngModel)]="prixMax">
        </div>
    </div>
    </div>
    <br>
    <br>

    <div id="option">
        <div class="row">
            <div class="col-8 align-self-center " >
                <p id="h2" style="font-weight: bold;">Quantite</p>
            </div>
            <br>
            <div class="col-4"> 
        </div>
        </div>
        <div class="row">
            <div class="col-6 align-self-center" >
                <input style="text-align: center;" type="number"  class="form-control" id="prixMin" placeholder="0" (keyup)="minimumInputQte($event)" [(ngModel)]="qteMin">
            </div>
            <div class="col-6 align-self-center">
                <input style="text-align: center;" type="number" class="form-control" id="prixMax" placeholder="50000" (keyup)="maximumInputQte($event)"  [(ngModel)]="qteMax">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <input class="form-control"  (change)="sliderMinQte($event)" type="range"  id="rangeMin" min="0" max="50000" [(ngModel)]="qteMin">
            </div>
            <div class="col-6">
                <input class="form-control"  (change)="sliderMaxQte($event)" type="range" id="rangeMax" min="0" max="50000" [(ngModel)]="qteMax">
            </div>
        </div>
        </div>
        <br>
        <br>

    <div id="option" style="overflow-y:auto; overflow-x: hidden; height: 300px;">
        <div class="row">
            <div class="col-8 align-self-center " >
                <p id="h2" style="font-weight: bold;">Type</p>
            </div>
            <br>
            <div class="col-4"> 
        </div>
        </div>
        <div class="row">
            <div class="col-8 align-self-center " >
                <p id="h2">All</p>
            </div>
        <div class="col-4">
            <div id="all">
                <button style="background-color: transparent;" class='btn-block' (click)="findByFilter('noAll')"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
            </div>
            <div id="noAll" style="display: none;" >
            <button style="background-color: transparent;" class='btn-block' (click)="findByFilter('all')"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(248, 248, 248); font-size: 2vw;"></fa-icon></button>
        </div>
    </div>
</div>
        <div *ngFor="let filtre of typeDebieres" class="row">
            <div class="col-8 align-self-center " >
                <p id="h2">{{filtre.nom}}</p> 
            </div>
            <div class="col-4">
                <div id="{{filtre.nom}}"style="display: none;">
                    <button style="background-color: transparent;" class='btn-block' (click)="findByFilter('No'+filtre.nom)"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 2vw;"></fa-icon></button>
                </div>
                <div id="No{{filtre.nom}}" >
                <button style="background-color: transparent;" class='btn-block' (click)="findByFilter(filtre.nom)"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
            </div>
        </div>
        </div>
    </div>
    <br>
    <br>

    <div id="option">
        <div class="row">
            <div class="col-8 align-self-center " >
                <p id="h2"style="font-weight: bold; ">Degré Alcool</p>
            </div>
            <br>
            <div class="col-4"> 
        </div>
        </div>
        <div class="row">
            <div class="col-6 align-self-center" >
                <input style="text-align: center;" type="number"  class="form-control" step=".1" id="prixMin" placeholder="2,3°" (keyup)="minimumInputAlc($event)" [(ngModel)]="alcMin">
            </div>
            <div class="col-6 align-self-center">
                <input style="text-align: center;" type="number" class="form-control" step=".1" id="prixMax" placeholder="12,1°" (keyup)="maximumInputAlc($event)"  [(ngModel)]="alcMax">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <input class="form-control"  (change)="sliderMinAlc($event)" type="range" step=".1"  id="rangeMin" min="0" max="35" [(ngModel)]="alcMin">
            </div>
            <div class="col-6">
                <input class="form-control"  (change)="sliderMaxAlc($event)" type="range" step=".1" id="rangeMax"  min="0" max="35" [(ngModel)]="alcMax">
            </div>
        </div>
        </div>
        <br>


</div>
<div class="col"></div>
<div class="col-7">
    <div class="row">
        <div *ngFor="let biere of bieres" class="col-4">
                <div class="card" style=" background-color: white; border-radius: 8px;">
            <div class="col text-center text-dark">
                <h5 id="h2" style="font-weight: bold;">{{biere.nom}}</h5>
            </div>
            <button style="background-color: white;" routerLink="detail/" [queryParams]="{idBiere:biere.id}" class='btn-block'>
            <div class="col text-center text-dark">
                <img id='biereImg' src="{{url}}/image/{{biere.id}}/{{biere.nom}}"
                    alt="{{biere.nom}}">
            </div>
        </button>
        
            <div class="col-12" style="padding-left: 0; padding-right: 0;">
                <button id="btn{{biere.id}}"  style="background-color: rgb(0, 0, 0); " (click)="quantite(biere.id)" class='btn-block'>
                <h5 id="qte" style="color: white;" >Qté {{biere.quantite}}</h5> </button>
                <input style="text-align: center;" type="number" class="form-control" id="inputQte{{biere.id}}" placeholder="quantite" [(ngModel)]="inputQte" style="display: none;">
            </div>
            <br>
            <div class="col-12" style="padding-left: 0; padding-right: 0;">
                <button id="btnPrix{{biere.id}}"  style="background-color: rgb(0, 0, 0);" (click)="prix(biere.id)" class='btn-block'>
                <h5 id="prix"  style="color: white;">{{biere.prix}} €</h5> </button>
                <input style="text-align: center;" type="number" class="form-control" id="inputPrix{{biere.id}}" placeholder="prix" [(ngModel)]="inputPrix" style="display: none;">
            </div>
           <div style="height: 10px;"></div>
            <div *ngIf="biere.active" >
            <button id="delete" style="background-color: rgb(0, 0, 0);" class='btn-block' (click)="delete(biere.id)"> <fa-icon class="fa icon" [icon]="faEye" style="color: rgb(255, 196, 0); font-size: 4vw;"></fa-icon></button>
        </div>
        <div *ngIf="!biere.active" >
            <button id="activate" style="background-color: rgba(0, 0, 0, 0.582);" class='btn-block' (click)="activate(biere.id)"> <fa-icon class="fa icon" [icon]="faEye1" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
        </div>
        </div>
          <br>
          <br>
        </div>
        

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li *ngIf='page>0' class="page-item disabled">
            <button style="background-color: white;" class="btn page" (click)="pagination('precedent')">Précédent</button>
        </li>
        <li class="page-item"> <div *ngIf='bieres.length>2' class="btn" style="background-color: rgb(0, 0, 0); color: white;">Page {{page+1}}</div></li>
        <li class="page-item disabled">
            <button *ngIf='bieres.length>2 &&filtre.length==0 &&bieres2.length>0' style="background-color: white;"class="btn page" (click)="pagination('suivant')">Suivant</button>
        </li>
    </ul>
</nav>
</div>
<div class="col-1"></div>
</div>
</div>


