<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="principal" class="hide">
  <div class="p-grid bg-dark">

      <div class="p-col text-left"><a
              href="https://www.google.com/maps/place/20+Rue+du+Luxembourg,+59100+Roubaix/@50.6930546,3.1563994,17z/data=!3m1!4b1!4m5!3m4!1s0x47c328e3c2e86cff:0x47c63843ab4278ea!8m2!3d50.6930512!4d3.1585881">
              <h2  style="color: white;">20 Rue du Luxembourg, 59100 Roubaix</h2>
          </a>
      </div>
      <div id='photo' class="p-col text-center">
          <button style="height: 200px; width: 30px; background-color: transparent; border: none; outline: none;" routerLink="/accueil"></button>
      </div>
      <div class="p-col text-right">
          <h2 style="color: white;">08.26.46.14.14 - afpa@afpa.fr</h2>
      </div>
  </div>
</div>
<div class="row" style="height: 30px;"></div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4 text-center">
    <h1 style="font-family: Piedra; color: white;">validation en cours</h1>
  </div>
  <div class="col-3"></div>
</div>
<div class="row" ></div>
<div class="row">
  <div class="col-5"></div>
  <div class="col-4 text-center" style='padding-left: 3.5%; margin-top: 15px;'>
    <div  class="loader"></div>
  </div>
  <div class="col-3"></div>
</div>

