.cursorPointer {
    cursor: pointer;
}
#panierco{

    left: 55%;
    height: 40%; /* Full height */
      width: 43%; /* Full width */
      overflow: auto; /* Enable scroll if needed */
      z-index: 90;

}
#drop:hover{
color: white!important;
}



#navbar{
    background-color: rgb(0, 0, 0)
}

.logo:hover {
    opacity: 1;
    transition: 2s;
}

#img{
    opacity: 0.3;
    transition: 0.4s;
    
  }

  #img:hover{
    opacity: 1;
   
    
  }
  .nav-link{
      color: white;
  }

  

h2 {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

.p-grid {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(0, 0, 0)!important;
    color: white;
}

.p-col {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

#photo {
    background-position: center;
    height: 250px;
    background-image: url("~src/assets/logo1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#principal {
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0)!important;
}

@media (min-width: 0px) {
    .hide {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .hide {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .hide {
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .hide {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .hide {
        display: block;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(255, 196, 0);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
