<h2>Commentaires</h2>
<p *ngIf="commentaires.length>0" style="color: gray;">Rejoins la communauté et dis nous ce que tu en penses</p>
<p *ngIf="commentaires.length==0" style="color: gray;">Soit le premier à nous dire ce que tu en penses.</p>

<div class="jumbotron">
    <label for="commentaire">Commentaire</label>
    <textarea [(ngModel)]="commentaireText" id="commentaire" name="commentaire"
        placeholder="Ecrivez votre commentaire.." style="height:200px"></textarea>
    <input type="submit" (click)="addComment()" value="Submit">
    <br>
    <br>
<div *ngIf="commentaires.length>0"class="row" style="overflow-y: scroll; height: 150px; background-color: white; margin-left: 0%;">
    <div *ngFor="let commentaire of commentaires" class="col-12">
        <div class="row">
        <div class="col-3">
            <p style="font-weight: bold;">{{commentaire.nom}} - {{commentaire.date | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-9">
        <p>{{commentaire.message}}</p>
        <fa-icon *ngIf="isAdmin"
                    (click)="delete(commentaire.id)" [icon]="faTrash" style="cursor:pointer;color: rgb(255, 0, 0);">
                </fa-icon>
    </div>
</div>
<hr>
    </div>
</div>
</div>