<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frijole">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">
<div id="id02" class="container-fluid animate">
  <div  id="top" class="sticky text-center" >
    <div class="col-3 align-self-center">
        <div  id="myModal" class="modal">

          <div class="modal-content">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
          <div class="row">
            <div class="col-1"></div>
              <div class="col-3">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/bieres"> <fa-icon  class="fa icon topButton" [icon]="faBeer" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/tables"> <fa-icon  class="fa icon topButton" [icon]="faTable" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/cours"> <fa-icon  class="fa icon topButton" [icon]="faCourse" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-1"></div>
              <div class="col-3">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/users"> <fa-icon  class="fa icon topButton" [icon]="faUser" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion/business"> <fa-icon  class="fa icon topButton" [icon]="faBusiness" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-3">
                <button style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/gestion"> <fa-icon  class="fa icon topButton" [icon]="faTools" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
              </div>
              <div class="col-1"></div>
          </div>
              <br>
              <div class="row">
                <div class="col-1"></div>
                  <div class="col-3"></div>
                  <div class="col-3">
                    <button  style="background-color: transparent;border-radius: 8px;" class='btn-block dam' routerLink="/boutique"> <fa-icon  class="fa icon topButton" [icon]="faHome" style="color: rgb(255, 255, 255); font-size: 4vw;"></fa-icon></button>
                  </div>
                  <div class="col-3"> </div>
                  <div class="col-1"></div>
              </div>
              <br>
            </div>
            </div>
        </div>
          
          </div>
        
        </div>
    <div  class="row">
        <div class="col-3">
        </div>

        <div class="col-6">
            <img id="img" src="assets/logo1.jpg" height="280" width="350">
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-9"></div>
                <div  class="col-3 text-left">
                    <button style="background-color: transparent;" class='btn-block topButton1' (click)='damier()'> <fa-icon class="fa icon topButton" [icon]="faDamier" style="color: rgb(255, 255, 255); font-size: 2vw;"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 align-self-center">
                    <button id="create" style="background-color: transparent;border-radius: 8px;" class='btn-block' routerLink="/gestion/bieres"> <fa-icon id="return" class="fa icon topButton" [icon]="faReply" style="color: rgb(20, 99, 246); font-size: 2vw;"></fa-icon></button>
        </div>
        <div *ngIf='biere!=undefined' class="col-6 align-self-center">
                    <h1 id="title" style="font-weight: bold;">{{biere.nom}}</h1>
                    
                </div>
                
    </div>
</div>
<br>
<br>

<div class="row" *ngIf='biere!=undefined'  >
  <div class="col-1"></div>
<input id="fileInput" type="file"  (change)="selectFile($event)" style="display: none;"/>
<button data-aos="fade-right" class="btn col-6" id="button" ><img src="{{url}}/image/{{biere.id}}/Logo"   height="180" alt="{{biere.nom}}" style="width:100%; height:100%;"></button>

<div class="col-1"></div>
<button data-aos="fade-left" id="button1" class="btn col-3">
   <img src="{{url}}/image/{{biere.id}}/{{biere.nom}}"   height="180" alt="{{biere.nom}}" style="width:100%; height:100%;">
   
</button>
<div class="col-1"></div>

</div>

<hr>
<br>
<div class="row" *ngIf='biere!=undefined'>
  <div class="col-3"></div>
  <div  style="font-family: frijole;" *ngIf='biere.active' class="col-6 text-center">
   <button class="btn" (click)='activer("desactiver")'>Desactiver</button>
  </div>
  <div style="font-family: frijole;" *ngIf='!biere.active' class="col-6 text-center">
    <button class="btn" style="color: rgb(255, 196, 0);" (click)='activer("activer")'>Activer</button>
  </div>
  <div class="col-3"></div>
 <div style="height: 150px;"></div>

</div>
    <div class="row">
      <div class="col-2 "></div>

    <div class="col-8 text-left ">
      <table *ngIf="biere!=undefined" class="table-borderless ">
        <tbody>
          <tr (click)='edit("id")'>
            <th scope="row">Id :</th>
            <td id="idB">{{biere.id}}</td>
          </tr>
          <tr (click)='edit("nom")'>
            <th scope="row">Nom :</th>
            <td id="idN">{{biere.nom}}</td>
            <td id="inputNom" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="text" class="form-control"  placeholder="Nom de la biere" (keyup)="inputNom($event)"  [(ngModel)]="biere.nom"></td>
          </tr>
          <tr (click)='edit("description")'>
            <th scope="row text-center">Description :</th>
            <td id="idD">{{biere.description}}</td>
            <td id="inputDescription" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="text" class="form-control"  placeholder="Description de la biere" (keyup)="inputDescription($event)"  [(ngModel)]="biere.description"></td>
          </tr>
          <tr (click)='edit("degre")'>
            <th scope="row">Degré :</th>
            <td id="idDe">{{biere.degre}} °</td>
            <td id="inputDegre" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="number" step=".1" class="form-control"  placeholder="degré °" (keyup)="inputDegre($event)"  [(ngModel)]="biere.degre"></td>
          </tr>
          <tr (click)='edit("prix")'>
            <th scope="row">Prix :</th>
            <td id="idP">{{biere.prix}} €</td>
            <td id="inputPrix" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="number" step=".01" class="form-control"  placeholder="tarif €" (keyup)="inputPrix($event)"  [(ngModel)]="biere.prix"></td>
          </tr>
          <tr (click)='edit("quantite")'>
            <th scope="row">Stock :</th>
            <td id="idQ">{{biere.quantite}}</td>
            <td id="inputQuantite" style="display: none; margin-top: 2%;"><input style="text-align: right;" type="number" class="form-control"  placeholder="Stock" (keyup)="inputQuantite($event)"  [(ngModel)]="biere.quantite"></td>
          </tr>
          <tr (click)='edit("type")'>
            <th scope="row">Type :</th>
            <td id="idT" >{{biere.typeDeBiereDto.nom}}</td>
      
          </tr>
          
        </tbody>
      </table>
    </div>
    <div class="col-2 ">
      <div class="row" style="height: 500px;"></div>
      <div id="btnType"  style="display: none;" class="btn-group ">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Type
        </button>
      <div  class="dropdown-menu">
      <a *ngFor='let type of typeDebieres' class="dropdown-item" (click)="inputType(type.nom)"><p id="h2">{{type.nom}}</p></a>
  </div>
  </div>
    </div>
  </div>
  <div class="row" style="height: 20px;"></div>
  <div class="row" style="background-color: rgb(255, 255, 255);">
<div class="col-4"></div>
<div class="col-4 text-center">
  <button *ngIf='!supprimable' class="btn btn-block" style="background-color: rgb(0, 0, 0);" (click)='supprimer()'><fa-icon class="fa icon" [icon]="faTrash" style="color: rgb(255, 196, 0); font-size: 4vw;"></fa-icon></button>
</div>
<div class="col-4"></div>
  </div>
  <div class="row" style="height: 20px;"></div>

  
  </div>


