.well {
  padding: 35px;
  padding-left: 30px;
  box-shadow: 0 0 10px rgb(255,196,0);
  margin: 4% auto 0;
  width: 450px;
  border-radius: 2%;
}

#id02{
  background-color: black;
  
}
.bg-success{
  background-color: rgb(0, 0, 0)!important;
}

.color {
  color: rgb(255,196,0);
}

.form-control {
  border-color: rgb(0, 0, 0);
}

.form-control:focus {
  color: rgb(0, 0, 0) !important;
  -moz-box-shadow: 8px 8px 12px rgb(255,196,0);
  -webkit-box-shadow: 8px 8px 12px rgb(255,196,0);
  box-shadow: 2px 2px 4px rgb(255,196,0);
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 2.5s;
  animation: animatezoom 2.5s
}

/* @-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(-1)
  }
  to {
    -webkit-transform: scale(5)
  }
} */

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
.logo {
    animation: blinkingText 3s infinite;
  color: rgb(255,196,0);
  font-family: Piedra;
}

#myModal1 {
  overflow-x: hidden!important;
  padding-left: 8px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(51, 51, 51, 0.507)
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(255, 196, 0);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}