<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<div id="id02" class="container-fluid animate">
    <app-topnavbar id="top"></app-topnavbar>  
    <br>
            <div id="titre" class="row">
                <h1 id="title" class="col text-center text-dark"> Mes Factures </h1>
            </div>
            <hr>
            <div data-aos="fade-up" id="contenu" class="row">
                <div class="col-4 text-center">
                    <br>
                    <button style="background-color: orange;" class='btn-block' (click)="afficherInvoice()"> <fa-icon class="fa icon" [icon]="faInvoice" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                    <br>
                </div>
                <div class="col-4 text-center">
                    <br>
                    
                </div>
                <div class="col-4 text-center">
                    <br>
                    <button routerLink="/mon-compte/factures/recherche" style="background-color: rgb(0, 92, 179);" class='btn-block '><fa-icon class="fa icon" [icon]="faSearch" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>
                </div>
            </div>
            <div id="contenu" class="row">
                <div class="col-4 text-center">
                    <h3 id="title">afficher la derniere facture</h3>
                </div>
                <div class="col-4 text-center">
                    
                </div>
                <div class="col-4 text-center">
                    <h3 id="title">Rechercher vos factures</h3>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div id="lastInvoice" class="row" style="display: none;">
                    <div class="row">
                    <div class="col-4">
                        <h4 style="font-weight: bold;">N° de Facture {{lastInvoice.id}} </h4>
                    </div>
                    <div class="col-4 text-center">
                        <h4 style="font-weight: bold;">Date de la facture {{lastInvoice.dateAchatString}} </h4>
                    </div>
                    <div class="col-4 text-right">
                        <h4 style="font-weight: bold;">Montant de la facture {{lastInvoice.prixTotal}}€ </h4>
                    </div>
                </div>
                <br>
                <br>
               
                <div class="row">
                    <div id="list" class="col-sm-2"></div>
                <div id="list" class="col-sm-8">
                 <table  class="table">
                    <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Nom</th>
                          <th scope="col">Qté(s)</th>
                          <th scope="col">Prix Unitaire</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                     <tbody>
                       <tr *ngFor='let biere of bieres'>
                         <th scope="row"><img src="{{url}}/image/{{biere.id}}/{{biere.nom}}"width='50px' height="50px"></th>
                         <td  id="td">{{biere.nom}}</td>
                         <td id="td"> {{biere.commande}}</td>
                     <td id="td">x {{biere.prix}}€</td>
                     <td id="td" style="width: 70px;">{{biere.prixTotal}}€</td>
                 </tr>
                 </tbody>
                 </table>
                 </div>
                 <div id="list" class="col-sm-2"></div>
                </div>
            </div>
            <br>
                <div  class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button id="download" (click)='download()'style="background-color: rgb(38, 136, 20); display: none;" class='btn-block '><fa-icon class="fa icon" [icon]="faDownload" style="color: rgb(255, 255, 255); font-size: 8vw;"></fa-icon></button>

                            </div> 
                            <div class="col-4"></div> 
                        </div>
                    </div>

                    <div class="col-sm-2"></div>
                </div>
                <hr>
                <br>

                <div class="row">
                    <div class="col-3 text-left "></div>
                    <div  class="col-6 text-left ">
            <div id="row" data-aos="fade-right" class="row">
                <div class="col-3" style="padding: unset;">
                <button disabled id="icon" style="background-color: black;" class='btn-block' > <fa-icon class="fa icon" [icon]="faPanier" style="color: orange; font-size: 8vw;"></fa-icon></button>
            </div>
            <div class="col-6 my-auto"> 
                <h2 id="h1a">panier moyen:</h2>
            </div>
            <div id="panier" class="col-3 my-auto"> 
                <h2  id="h1">{{panierMoyen}} €</h2>
            </div>
        </div>
        </div>
        <div class="col-3 text-left "></div>
        
    </div>
        <hr>

        <div class="row">
            <div  class="col-3 text-left "></div>
            <div    class="col-6 text-left ">
    <div id="row" data-aos="fade-right" class="row">
        <div class="col-3" style="padding: unset;">
            <button disabled id="icon" style="background-color: black;" class='btn-block'> <fa-icon class="fa icon" [icon]="faEuro" style="color: orange; font-size: 8vw;"></fa-icon></button>
    </div>
    <div class="col-6 my-auto"> 
        <h4 id="h1a">Total derniere commande:</h4>
    </div>
    <div id="panier" class="col-3 my-auto"> 
        <h2  id="h1">{{lastInvoice.prixTotal}} €</h2>
    </div>
</div>
</div>
<div class="col-3 text-left "></div>
</div>
    <hr>


    <div class="row">
        <div class="col-3 text-left "></div>
        <div class="col-6 text-left ">
<div id="row" data-aos="fade-right" class="row">
    <div class="col-3" style="padding: unset;">
        <button disabled id="icon" style="background-color: black;" class='btn-block'> <fa-icon class="fa icon" [icon]="faGender" style="color: orange; font-size: 8vw;"></fa-icon></button>
</div>
<div class="col-6 my-auto"> 
    <h4 id="h1a">type de biere favoris:</h4>
</div>
<div id="panier" class="col-3 my-auto"> 
    <h2  id="h1m">{{favoriteBeer[3]}}</h2>
</div>
</div>
</div>
<div class="col-3 text-left "></div>
</div>
<hr>

<div class="row">
    <div class="col-3 text-left "></div>
    <div class="col-6 text-left ">
<div id="row" data-aos="fade-right" class="row">
<div class="col-3" style="padding: unset;">
    <button disabled id="icon" style="background-color: black;" class='btn-block'> <fa-icon class="fa icon" [icon]="faBeer" style="color: orange; font-size: 8vw;"></fa-icon></button>
</div>
<div class="col-5 my-auto"> 
<h4 id="h1a">Bière favorite commandée(s):</h4>
</div>
<div id="panier" class="col-4 my-auto">
    <div class="row">
        <div id="panier" class="col-6 my-auto">
<h2  id="h1m">{{favoriteBeer[2]}} fois</h2>
</div>
<div id="panier" class="col-6 my-auto">
    <img src="{{url}}/image/{{biereId}}/{{biereName}}"  width="150" height="150">

</div>
</div>
</div> 

</div>
</div>
<div class="col-3 text-left "></div>
</div>
<hr>


<div class="row">
    <div class="col-3 text-left "></div>
    <div class="col-6 text-left ">
<div id="row" data-aos="fade-right" class="row">
<div class="col-3" style="padding: unset;">
    <button disabled id="icon" style="background-color: rgb(0, 0, 0);" class='btn-block'> <fa-icon class="fa icon" [icon]="faCalendar1" style="color: orange; font-size: 8vw;"></fa-icon></button>
</div>
<div class="col-6 my-auto"> 
<h4 id="h1a">Total Achats du mois:</h4>
</div>
<div id="panier" class="col-3 my-auto"> 
<h2  id="h1e">{{totalMonth}} €</h2>
</div>
</div>
</div>
<div class="col-3 text-left "></div>
</div>
<hr>

<div class="row">
    <div class="col-3 text-left "></div>
    <div class="col-6 text-left ">
<div id="row" data-aos="fade-right" class="row">
<div class="col-3" style="padding: unset;">
    <button disabled id="icon" style="background-color: rgb(0, 0, 0)" class='btn-block'> <fa-icon class="fa icon" [icon]="faCalendar" style="color: orange; font-size: 8vw;"></fa-icon></button>
</div>
<div class="col-6 my-auto"> 
<h4 id="h1a">Total Achats de l'année:</h4>
</div>
<div id="panier" class="col-3 my-auto"> 
<h2  id="h1e">{{totalYear}} €</h2>
</div>
</div>
</div>
<div class="col-3 text-left "></div>
</div>
<hr>


<div class="row">
    <div class="col-3 text-left "></div>
    <div class="col-6 text-left ">
<div id="row" data-aos="fade-right" class="row">
<div class="col-3" style="padding: unset;">
    <button disabled id="icon" style="background-color: rgb(0, 0, 0)" class='btn-block'> <fa-icon class="fa icon" [icon]="faWarehouse" style="color: orange; font-size: 8vw;"></fa-icon></button>
</div>
<div class="col-6 my-auto"> 
<h5 id="h1a">Total Achats depuis la création du compte:</h5>
</div>
<div id="panier" class="col-3 my-auto"> 
<h2  id="h1e">{{total}} €</h2>
</div>
</div>
</div>
<div class="col-3 text-left "></div>
</div>
<hr>

<br>
</div>


