.btn-block:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}



#icon{
    
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

.btn-block{
    border-radius: 8px 8px 8px 8px;
        outline: none;
        border: none;
    }


#h1{
    font-family: Piedra;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 55px orange, 0 0 75px orange;
color: rgb(255, 255, 255);

}

#h1m{
    font-family: Piedra;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 55px orange, 0 0 75px orange;
color: rgb(255, 255, 255)!important;

}

#h1e{
    font-family: Piedra;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 55px orange, 0 0 75px orange;
color: rgb(255, 255, 255)!important;

}
#h1a{
    font-family: Piedra;
    color: rgb(255, 255, 255)!important;

}


#title{
    color: rgb(255, 255, 255)!important;
    font-family: Piedra;
    
}



#row:hover{
    border-radius: 8px 8px 8px 8px;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}
#lastInvoice{
    margin-left: 5px;
    margin-right: 5px;
    border: solid;
    background-color: orange;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

#id02{
    padding-right: 0px; 
    padding-left: 0px;
}
