* {
    color: rgb(255, 255, 255)!important;
    list-style: none;
}

.footer {
    background-color: black!important;
    margin-top: 2%;
}

#margin{
    background-color: rgb(255, 255, 255)!important;
    padding-top: 9%;
    
}

