
<div id="margin"></div>
<div class="footer">
    <div class="container text-center">
        <a href="https://www.instagram.com/">
            <fa-icon [icon]="faInstagram"></fa-icon> Instagram
        </a>
        <a href="https://fr-fr.facebook.com/">
            <fa-icon [icon]="faFacebook"></fa-icon> Facebook
        </a>
        <a href="https://twitter.com/">
            <fa-icon class="icon" [icon]="faTwitter"></fa-icon> Twitter
        </a>

        <hr>

        <ul>
            <li>Contact</li>
            <li>Mail</li>
            <li>Mentions légales</li>
            <li>Histoire de brassage</li>
        </ul>

        <hr>

        <fa-icon [icon]="faCopyright"></fa-icon> Copyright | Développé par Clement Leuridon | Tous droits réservés
    </div>
</div>