#id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
}

.modal {
    overflow-x: hidden!important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 69%;
    top: 10%;
    width: 30%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent
  }
  .modal-content{
    background-color: rgba(128, 128, 128, 0.739);
    border-radius: 8px 8px 8px 8px!important; 
  }



  #top{

    background-color: black; 
    color: white; 
     position: sticky; 
    top: 0;
    z-index:10;
    transition: 0.4s;
}

#img{
    transition: 0.4s;
    
}

#h2{
    font-family: Nova Cut;
  }
  #idB{
      font-size: 40px!important;

  }
  #idN{
    font-size: 25px!important;
  
}

  .btn-block{
    outline: none;
    border: none;
    
}

.topButton:hover{
    transition: 0.6s;
    color: rgb(255, 196, 0) !important;
    
  }
  .topButton1{
      border-radius: 200px 200px 200px 200px;
  }
  #create:hover{
    outline: none;
    border: none;
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  }

  #image{
      background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
  }

  #image:hover{
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
}

.table-borderless th{
    margin-top: 0px;
    font-family: piedra;
   width: 500px;
   height: 80px;
}

.table-borderless td{
    font-size: 20px;
    color: rgb(255, 196, 0);
    font-family: Frijole;
    text-align: right;
    width: 800px;
   
 
}
.table-borderless tr:hover{
    margin-left: 3px;
    margin-right: 30px;
    border-radius: 8px;
background-color: rgb(218, 218, 218);
 
}
input {
    -webkit-appearance: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: Frijole;
  }
input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    
   
  }

  .btn{
    /* font-size: 40px; */
      border: solid;
      border-radius: 8px;
  }
  .btn:hover{
    box-shadow: -12px 7px 39px -1px rgba(0,0,0,0.75);
  }