#build{
    height: 600px;
    width: 100%;
    background-image: url("~src/assets/cours.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}