<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<div id="id01" class=" container-fluid">
  <form name="myForm" method="post">
    <div class="container-fluid">
      <div class="row">
        <div class="well center-block bg-light">
          <div class="well-header">
            <h3 class="text-center" style="font-family: Piedra;"> Connection </h3>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="input-group mb-4">
                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                  <div class="input-group-text bg-success">
                    <fa-icon class="icon color" [icon]="faUser"></fa-icon>
                  </div>
                  <input type="text" placeholder="Nom" name="txtfname" class="form-control" required
                    [(ngModel)]="user.username">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="input-group mb-4">
                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                  <div class="input-group-text bg-success">
                    <fa-icon class="icon color" [icon]="faLock"></fa-icon>
                  </div>
                  <input type="password" minlength="8" maxlength="20" placeholder="Mot de passe" name="txtpass"
                    class="form-control" required [(ngModel)]="user.password">
                </div>
              </div>
            </div>
          </div>
          <div class="row widget">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <button class="btn btn-block" (click)="login()"
                [disabled]='user.username.length==0 || user.password.length==0' style="background-color: rgb(0, 0, 0);">
                <b style="font-family: Piedra; color: rgb(255, 196, 0);">Connection </b></button>
              <button class="btn btn-block" (click)="modalLoginClose()" style="background-color: rgb(255, 196, 0);"><b style="font-family: Piedra; color: black;">Annuler</b></button>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12">
              <br>
              <button class="btn btn-block" (click)="signUp()"style="background-color: rgb(0, 0, 0);"><b style="font-family: Piedra; color: rgb(255, 196, 0);">Créer un compte</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>