<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova Cut">

<div id="myModal1" class="modal" style="height: 100%; width: 100%;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-4 text-right">
            <div class="loader"></div>
        </div>
        <div class="col-3"></div>
        
    </div>
  </div>


<div id="id02" class="container-fluid animate">
    <div id="modal" class="modal">
        <div class="modal-content">
    
            <h1 id="title">{{biere.nom}}</h1>
                <hr>
            <div class="row" style="margin-left: 2%;">
                <h3 style="font-size: 2rem;font-weight: bold;">{{biere.prix}}€  </h3><h6 style="color: rgb(58, 58, 58);"> /l'unité</h6>
            </div>
            
                <div class="row">
                    
                    <div class="col-12 text-center">
                    <div  class="btn-group rounded-pill border border-warning bg-warning" role="group" aria-label="Basic example">
                        <button  *ngIf='biere.quantite>0' class="btn"  (click)='flou()' (click)="apptopnavbar.qttmoins(biere)"  class="rounded-pill btn w-50" style="background-color: rgba(250, 162, 0, 0.582);">
                            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
                        </button>
                        <button *ngIf='biere.quantite==0' class="btn" (click)='flou()' (click)="apptopnavbar.qttmoins(biere)"  class="rounded-pill btn w-50" style="background-color: rgba(250, 162, 0, 0.582);">
                         <fa-icon class="icon" [icon]="faMinus"></fa-icon>
                     </button>
                     <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input(biere.id)'type="number" min="0" [(ngModel)]="biere.commande" >
                        <button *ngIf='biere.quantite>0' (click)='flou()' (click)='apptopnavbar.qttplus(biere)'  class="rounded-pill btn w-50" style="background-color: rgba(250, 162, 0, 0.582);">
                            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                        </button>
                        <button *ngIf='biere.quantite==0'   class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
                         <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                     </button>
                    </div>
                </div>
                </div>
                <br>
           
            
            <div *ngIf="utilisateur.id==null&& biere.quantite<=0">
                <button [routerLink]="['/login']" class="btn btn-danger"> Rupture de stock <fa-icon
                        [icon]="faShoppingCart" style="color: white;"></fa-icon></button>
    
            </div>
            
    
            <div *ngIf="utilisateur.id==null&& biere.quantite>0">
                <button [routerLink]="['/login']" class="btn btn-warning"> Ajouter au panier <fa-icon
                        [icon]="faShoppingCart" style="color: white;"></fa-icon></button>
    
            </div>
    
            <div *ngIf="biere.quantite>0&& utilisateur.id!=null">
                <button (click)='apptopnavbar.valider(biere)'(click)="valider()" id='validerModal'class="btn btn-warning"> Ajouter au panier <fa-icon
                        [icon]="faShoppingCart" style="color: white;"></fa-icon></button>
    
            </div>
            <div *ngIf="biere.quantite<=0&& utilisateur.id!=null">
                <a class="btn btn-danger"> Rupture de stock</a>
            </div>
    
        </div>
    </div>
    <app-topnavbar id="top" #apptopnavbar (parent)="emit($event)"></app-topnavbar>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-1 align-self-center">
                        <button class="btn" (click)='logo()'><fa-icon
                            [icon]="chevronLeft" style="color: rgb(0, 0, 0);"></fa-icon></button>

                    </div>
                    <div class="col-10 d-flex justify-content-center " *ngIf='!logoB' style="width: 300px; height: 350px;">
                        <img src="{{url}}/image/{{biere.id}}/{{biere.nom}}"  width="250px" height="300px" alt="{{biere.nom}}">  
                    </div>
                    <div class="col-10" *ngIf='logoB'>
                        <img src="{{url}}/image/{{biere.id}}/Logo"  width="300" height="350" alt="{{biere.nom}}" style="width:100%">  
                    </div>
                    
                    <div class="col-1 align-self-center">
                        <button class="btn" (click)='logo()'><fa-icon
                            [icon]="chevronRight" style="color: rgb(0, 0, 0);"></fa-icon></button>

                    </div>
                </div>
            </div>
            

            <div id="info"class="col-md-4">
                <h1 id="title">{{biere.nom}}</h1>
                <hr>
            <div class="row" style="margin-left: 2%;">
                <h3 style="font-size: 2rem;font-weight: bold;">{{biere.prix}}€  </h3><h6 style="color: rgb(58, 58, 58);"> /l'unité</h6>
            </div>
            
                <div class="row">
                    
                    <div class="col-12 text-center">
                    <div  class="btn-group rounded-pill border border-warning bg-warning" role="group" aria-label="Basic example">
                        <button  *ngIf='biere.quantite>0' class="btn"  (click)='flou()' (click)="apptopnavbar.qttmoins(biere)"  class="rounded-pill btn w-50" style="background-color: rgba(250, 162, 0, 0.582);">
                            <fa-icon class="icon" [icon]="faMinus"></fa-icon>
                        </button>
                        <button *ngIf='biere.quantite==0' class="btn" (click)='flou()' (click)="apptopnavbar.qttmoins(biere)" class="rounded-pill btn w-50" style="background-color: rgba(250, 162, 0, 0.582);">
                         <fa-icon class="icon" [icon]="faMinus"></fa-icon>
                     </button>
                     <input  style="background-color: white; font-family: Nova Cut;" class="quant border-0 w-100" (click)='input(biere.id)'type="number" min="0" [(ngModel)]="biere.commande" >
                        <button *ngIf='biere.quantite>0' (click)='flou()' (click)='apptopnavbar.qttplus(biere)'  class="rounded-pill btn w-50" style="background-color: rgba(250, 162, 0, 0.582);">
                            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                        </button>
                        <button *ngIf='biere.quantite==0' class="rounded-pill btn w-50" style="background-color: rgba(173, 173, 173, 0.582);">
                         <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                     </button>
                    </div>
                </div>
                </div>
                <br>
           
            
            <div *ngIf="utilisateur.id==null&& biere.quantite<=0">
                <button [routerLink]="['/login']" class="btn btn-danger"> Rupture de stock <fa-icon
                        [icon]="faShoppingCart" style="color: white;"></fa-icon></button>
    
            </div>
            
    
            <div *ngIf="utilisateur.id==null&& biere.quantite>0">
                <button [routerLink]="['/login']" class="btn btn-warning"> Ajouter au panier <fa-icon
                        [icon]="faShoppingCart" style="color: white;"></fa-icon></button>
    
            </div>
    
            <div *ngIf="biere.quantite>0&& utilisateur.id!=null">
                <button (click)='apptopnavbar.valider(biere)'(click)="valider()" id='valider'class="btn btn-warning"> Ajouter au panier <fa-icon
                        [icon]="faShoppingCart" style="color: white;"></fa-icon></button>
    
            </div>
            <div *ngIf="biere.quantite<=0&& utilisateur.id!=null">
                <a class="btn btn-danger"> Rupture de stock</a>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 9%; margin-bottom: 9%;">
    <div class="col-8 text-center">
        <fa-icon [icon]="faQuote" style="color: rgba(250, 162, 0, 0.582); font-size: 3vw;"></fa-icon>
        <h1 style="font-family: roboto; font-style: italic;">{{biere.description}}</h1>
    </div>
</div>
<div class="row" style="margin-bottom: 4%;">
        <div class="col-8" style="padding-left: 5%;">
            <h2>Caractéristiques</h2>
            <table class="table">
                <tr>
                    <td>
                        Degrés de la bière :
                    </td>
                    <td>
                        {{biere.degre}}°
                    </td>
                </tr>
                <tr>
                    <td>
                        Type de bière :
                    </td>
                    <td>
                        {{biere.typeDeBiereDto.nom}}
                    </td>
                </tr>
                <tr>
                    <td *ngIf="biere.quantite>=10">
                        Disponible <fa-icon [icon]="faCircle" style="color: lime;"></fa-icon>
                    </td>
                    <td *ngIf="biere.quantite>=10"></td>
                    <td *ngIf="biere.quantite<10 && biere.quantite>0">
                        Disponible <fa-icon [icon]="faCircle" style="color: rgb(250, 155, 46);"></fa-icon>
                    </td>
                    <td *ngIf="biere.quantite<10 && biere.quantite>0">
                        <h6 class="text-danger">Attention ! il ne reste que {{biere.quantite}} article(s)</h6>
                    </td>
                    <td *ngIf="biere.quantite<=0">
                        Disponible <fa-icon [icon]="faCircle" style="color: rgb(255, 0, 0);"></fa-icon>
                        <h6 class="text-danger">En attente d'approvisionnement</h6>
                    </td>
                    <td *ngIf="biere.quantite<=0">
                        <h6 class="text-danger">En attente d'approvisionnement</h6>
                    </td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-8" style="padding-left: 5%;">
            <app-commentaire></app-commentaire>
        </div>
    </div>

</div>